Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            cspell.json|
            .*\.bib|
            .*\.svg
          )$
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: https://github.com/ComPWA/repo-maintenance
    rev: 0.0.2
    hooks:
      - id: fix-first-nbcell
        args:
          - --colab
          - --replace
      - id: fix-nbformat-version

  - repo: https://github.com/ComPWA/mirrors-cspell
    rev: v5.3.11
    hooks:
      - id: cspell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 0.6.0
    hooks:
      - id: nbqa-black
        args: [--nbqa-mutate]
      - id: nbqa-flake8
        args: ["--extend-ignore=E402,F821"]
      - id: nbqa-isort
        args: [--nbqa-mutate]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        language_version: 12.18.2 # prettier does not specify node correctly

  - repo: https://github.com/ComPWA/mirrors-pyright
    rev: v1.1.126
    hooks:
      - id: pyright

  # The following tools have to be install locally, because they can also be
  # used by code editors (e.g. linting and format-on-save).

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types:
          - python

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python

      - id: isort
        name: isort
        entry: isort
        language: system
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types:
          - python

      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: system
        types:
          - jupyter

      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types:
          - python

      - id: pylint
        name: pylint
        entry: pylint
        args:
          - --rcfile=.pylintrc
          - --score=no
        language: system
        types:
          - python

fix: update links to related projects on RTD
  docs/conf.py
  docs/usage/interactive.ipynb
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: generalize construction of plot widget
  .cspell.json
  docs/usage/interactive.ipynb
Due: nbstripout

docs: make interactive notebook independent
  docs/usage/interactive.ipynb
Due: nbstripout

docs: automate part of the starting values
  docs/usage/interactive.ipynb
Due: nbstripout

docs: remove real and imag plots
  docs/usage/interactive.ipynb
Due: nbstripout

docs: generalize procedure to create plot widget (#31)
  .cspell.json
  docs/usage/interactive.ipynb
Due: nbstripout

ci: upgrade developer dependencies
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

ci: add PR template
  .github/pull_request_template.md
Due: none

ci: add VScode extensions to GitPod config
  .gitpod.yml
Due: none

ci: upgrade developer dependencies (automatic)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
Due: none

ci: add PR template + gitpod extensions (#32)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .github/pull_request_template.md
  .gitpod.yml
  .pre-commit-config.yaml
Due: none

ci: add complexity check
  .flake8
  setup.cfg
Due: none

ci: reduce max complexity to 8
  .flake8
Due: none

ci: add complexity check (#33)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .flake8
  setup.cfg
Due: none

ci: clean up VSCode extensions
  .gitpod.yml
  .vscode/extensions.json
Due: none

chore: remove remnants from expertsystem/qrules
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .cspell.json
  .mypy.ini
  docs/conf.py
  setup.cfg
Due: black, flake8, isort, mypy, pydocstyle, pylint

chore: remove remnants from expertsystem/qrules (#34)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .cspell.json
  .mypy.ini
  docs/conf.py
  setup.cfg
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: clean up pylint
  .pylintrc
  tests/external/test_sympy.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: disable pylint redefined-builtin
  .pylintrc
Due: none

ci: use pylint good-names-rgxs
  .pylintrc
  setup.cfg
  src/ampform/data.py
  src/ampform/dynamics/lineshape.py
  tests/external/test_sympy.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: clean up pylint configuration (#35)
  .pylintrc
  setup.cfg
  src/ampform/data.py
  src/ampform/dynamics/lineshape.py
  tests/external/test_sympy.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

style: use f-strings everywhere
  src/ampform/helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: enforce flake8-use-fstring check
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .flake8
  setup.cfg
Due: none

ci: enforce flake8-comprehensions check
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  setup.cfg
Due: none

fix: remove dict() and list() calls
  docs/usage/amplitude.ipynb
  src/ampform/_graph_info.py
  src/ampform/helicity.py
  src/ampform/kinematics.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

style: use pytest parametrize with tuples
  tests/test_angular_distributions.py
  tests/test_angular_momentum.py
  tests/test_data.py
  tests/test_dynamics.py
  tests/test_helicity.py
  tests/test_parity_prefactor.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

style: use pytest raises with match argument
  tests/test_angular_momentum.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: enforce flake8-pytest-style check
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  setup.cfg
Due: none

ci: remove flake8 version restriction
  setup.cfg
Due: none

ci: add more flake8 plugins and fix issues (#36)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .flake8
  docs/usage/amplitude.ipynb
  setup.cfg
  src/ampform/_graph_info.py
  src/ampform/helicity.py
  src/ampform/kinematics.py
  tests/test_angular_distributions.py
  tests/test_angular_momentum.py
  tests/test_data.py
  tests/test_dynamics.py
  tests/test_helicity.py
  tests/test_parity_prefactor.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

build: move nbstripout to pre-commit
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .cspell.json
  .pre-commit-config.yaml
  setup.cfg
Due: none

build: move nbstripout to pre-commit (#37)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .cspell.json
  .pre-commit-config.yaml
  setup.cfg
Due: none

ci: rename CI workflows
  .github/workflows/ci-style.yml
  .github/workflows/ci-tests.yml
  README.md
Due: none

ci: upgrade repo-maintenance and fix issues
  .pre-commit-config.yaml
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/interactive.ipynb
  setup.cfg
Due: nbstripout

docs: update installation instructions
  docs/install.md
Due: none

build: rename extras section to all
  .github/workflows/ci-tests.yml
  setup.cfg
Due: none

docs: improve README.md
  README.md
Due: none

feat: extract SliderKwargs to iplot mini-module
  .cspell.json
  .mypy.ini
  docs/conf.py
  docs/usage/interactive.ipynb
  docs/usage/iplot.md
  docs/usage/iplot/__init__.py
  docs/usage/iplot/test_iplot.py
  docs/usage/iplot/test_ipywidgets.py
  pyrightconfig.json
  pytest.ini
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

feat: implement SliderKwargs pretty repr
  .mypy.ini
  docs/usage/iplot/__init__.py
  docs/usage/iplot/test_iplot.py
Due: black, flake8, isort, mypy, pydocstyle, pylint
