Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            cspell.json|
            .*\.bib|
            .*\.svg
          )$
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: https://github.com/ComPWA/repo-maintenance
    rev: 0.0.2
    hooks:
      - id: fix-first-nbcell
        args:
          - --colab
          - --replace
      - id: fix-nbformat-version

  - repo: https://github.com/ComPWA/mirrors-cspell
    rev: v5.3.11
    hooks:
      - id: cspell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 0.6.0
    hooks:
      - id: nbqa-black
        args: [--nbqa-mutate]
      - id: nbqa-flake8
        args: ["--extend-ignore=E402,F821"]
      - id: nbqa-isort
        args: [--nbqa-mutate]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        language_version: 12.18.2 # prettier does not specify node correctly

  - repo: https://github.com/ComPWA/mirrors-pyright
    rev: v1.1.126
    hooks:
      - id: pyright

  # The following tools have to be install locally, because they can also be
  # used by code editors (e.g. linting and format-on-save).

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types:
          - python

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python

      - id: isort
        name: isort
        entry: isort
        language: system
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types:
          - python

      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: system
        types:
          - jupyter

      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types:
          - python

      - id: pylint
        name: pylint
        entry: pylint
        args:
          - --rcfile=.pylintrc
          - --score=no
        language: system
        types:
          - python

fix: always return complex values for inv mass
  .mypy.ini
  src/ampform/data.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: remove complex_sqrt function
  docs/extend_docstrings.py
  src/ampform/dynamics/__init__.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: always return complex values for inv mass
  src/ampform/data.py
  src/ampform/dynamics/__init__.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor!: replace complex_sqrt with ComplexSqrt
  docs/extend_docstrings.py
  src/ampform/dynamics/__init__.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: ignore RUB doc server in linkcheck
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: show complex component analytic continuation
  docs/usage/dynamics/analytic-continuation.ipynb
Due: nbstripout

fix: animation interactive visualization
  docs/usage/interactive.ipynb
Due: nbstripout

docs: add warning about sympy.sqrt
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: show how to activate ana. cont.
  docs/usage/dynamics.ipynb
Due: nbstripout

fix: improve math rendering ComplexSqrt and BlattW
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor!: remove complex_sqrt (#58)
  .mypy.ini
  docs/conf.py
  docs/extend_docstrings.py
  docs/usage/dynamics.ipynb
  docs/usage/dynamics/analytic-continuation.ipynb
  docs/usage/interactive.ipynb
  src/ampform/data.py
  src/ampform/dynamics/__init__.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: show analytic continuation in dynamics page
  docs/usage/dynamics.ipynb
Due: nbstripout

docs: use analytic continuation formula in widget
  docs/usage/dynamics.ipynb
Due: nbstripout

docs: remove interactive suggestion Google Colab
  docs/conf.py
  docs/usage/interactive.ipynb
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: remove breakup_momentum definition
  docs/usage/dynamics.ipynb
Due: nbstripout

docs: render analytic cont. formula on usage page
  docs/usage/dynamics.ipynb
Due: nbstripout

ci: upgrade pinned requirements
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

ci: ugprade pinned requirements through Python script
  .constraints/pin_requirements.py
  .constraints/upgrade.sh
  .github/workflows/requirements-cron.yml
  .github/workflows/requirements-pr.yml
  .pre-commit-config.yaml
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: upgrade pinned requirements (automatic)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
Due: none

fix: link to SupportsIndex
  docs/abbreviate_signature.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: upgrade pinned requirements (#60)
  .constraints/pin_requirements.py
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .constraints/upgrade.sh
  .github/workflows/requirements-cron.yml
  .github/workflows/requirements-pr.yml
  .pre-commit-config.yaml
  docs/abbreviate_signature.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: upgrade pinned requirements (#62)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

ci: upgrade pinned requirements (#69)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

ci: auto-close milestone upon release
  .github/workflows/milestone.yml
Due: none

ci: auto-close milestone upon release (#70)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .github/workflows/milestone.yml
  .pre-commit-config.yaml
Due: none

fix: use restructuredtext in docstring
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: upgrade pinned requirements (#71)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

docs: add tip about jupyter-katex
  .cspell.json
  docs/usage/amplitude.ipynb
Due: nbstripout

docs: add tip about jupyter-katex (#74)
  .cspell.json
  docs/usage/amplitude.ipynb
Due: nbstripout

fix!: add control over complex square roots
  .cspell.json
  .flake8
  docs/conf.py
  docs/extend_docstrings.py
  docs/usage/dynamics.ipynb
  docs/usage/dynamics/analytic-continuation.ipynb
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/math.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: make ComplexSqrt known to sympy.plot
  src/ampform/dynamics/math.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

test: add test for ComplexSqrt
  pytest.ini
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: split out ff_squared
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix!: add control over complex square roots (#72)
  .cspell.json
  .flake8
  docs/conf.py
  docs/extend_docstrings.py
  docs/usage/dynamics.ipynb
  docs/usage/dynamics/analytic-continuation.ipynb
  pytest.ini
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/math.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: use absolute value in analytic continuation
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint
