Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --score=no
  language: system

docs: improve dynamics notebook
  .cspell.json
  docs/usage/dynamics.ipynb
Due: nbstripout

docs: improve analytic continuation notebook
  docs/usage/dynamics/analytic-continuation.ipynb
Due: nbstripout

docs: use func in API where possible
  docs/extend_docstrings.py
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/decorator.py
  src/symplot/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: improve descriptions dynamics notebook
  docs/usage/dynamics.ipynb
Due: nbstripout

docs: switch order rel BW and coupled width
  docs/usage/dynamics.ipynb
Due: nbstripout

fix: use absolute square in analytic continuation (#75)
  .cspell.json
  docs/extend_docstrings.py
  docs/usage/dynamics.ipynb
  docs/usage/dynamics/analytic-continuation.ipynb
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/decorator.py
  src/symplot/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: return float masses if possible
  src/ampform/data.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: return float masses if possible (#76)
  src/ampform/data.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: set relativistic BW with FF to 0 sub-threshold
  docs/usage/amplitude.ipynb
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: remove tip about input data type
  docs/usage/dynamics.ipynb
Due: nbstripout

fix: increase m_a, m_b to show damping effect
  docs/usage/dynamics.ipynb
Due: nbstripout

fix: rho-hat description in phase_space_factor_ac
  docs/extend_docstrings.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: avoid setting B_L=0 for L=0
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: remove piecewise_fold
  docs/usage/amplitude.ipynb
Due: nbstripout

fix: improve rho-hat symbol
  docs/extend_docstrings.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: set relativistic BW with FF to 0 sub-threshold (#77)
  docs/extend_docstrings.py
  docs/usage/dynamics.ipynb
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor: create alias for builder return type
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

feat!: define builder for analytic continuation
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

feat: define builder for analytic continuation (#78)
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: upgrade pinned requirements
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

fix: install types-docutils
  setup.cfg
Due: none

ci: upgrade pinned requirements (automatic)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
Due: none

ci: enforce pre-commit color
  .github/workflows/ci-style.yml
Due: none

ci: upgrade pinned requirements (#79)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .github/workflows/ci-style.yml
  .pre-commit-config.yaml
  setup.cfg
Due: none

TEMP docs: add comparison canonical and helicity formalism
  comparison-canonical-helicity.ipynb
Due: nbstripout

refactor: use subscript for amplitudes/coefficients
  src/ampform/helicity.py
  tests/test_angular_distributions.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

style: use use_helicity as kwarg
  src/ampform/helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: add LS-coupling to coefficient name
  src/ampform/helicity.py
  tests/test_dynamics.py
  tests/test_helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: remove helicity from canonical coefficients
  src/ampform/helicity.py
  tests/test_dynamics.py
  tests/test_helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

Revert "TEMP docs: add comparison canonical and helicity formalism"
  comparison-canonical-helicity.ipynb
Due: nbstripout

refactor: rename phase_space_factor_analytic
  docs/extend_docstrings.py
  docs/usage/dynamics.ipynb
  docs/usage/dynamics/analytic-continuation.ipynb
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: fix text layout analytic continuation
  docs/usage/dynamics/analytic-continuation.ipynb
Due: nbstripout

refactor: extract more phase space factors
  docs/extend_docstrings.py
  docs/usage/dynamics/analytic-continuation.ipynb
  src/ampform/dynamics/__init__.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: improve dynamics notebook
  docs/usage/dynamics.ipynb
Due: nbstripout

refactor: expose more phase space factors (#81)
  docs/extend_docstrings.py
  docs/usage/dynamics.ipynb
  docs/usage/dynamics/analytic-continuation.ipynb
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/builder.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: remove links to expertsystem
  docs/conf.py
  docs/index.md
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: links to compwa-org stable pages
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: links to dynamics sub-pages
  docs/usage/dynamics.ipynb
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: update link to PDG review to 2018
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: remove links to expertsystem (#82)
  docs/conf.py
  docs/index.md
  docs/usage/dynamics.ipynb
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbstripout: any of: \.ipynb$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
