Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, isort, mypy, pydocstyle, pylint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: cspell.json
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/doc8
    rev: 0.8.1
    hooks:
      - id: doc8
        args: ["-q"]

  - repo: https://github.com/kynan/nbstripout
    rev: 0.3.8
    hooks:
      - id: nbstripout
        files: ".ipynb"

  - repo: https://github.com/prettier/prettier
    rev: 2.1.2
    hooks:
      - id: prettier
        language_version: 12.18.2 # prettier does not specify node correctly

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python

      - id: isort
        name: isort
        entry: isort
        language: system
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types:
          - python

      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types:
          - python

      - id: pylint
        name: pylint
        entry: pylint --rcfile=.pylintrc --score=no
        language: system
        types:
          - python

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: \.(inc|rst)$

fix: build wheel and fix deploy job (ComPWA/expertsystem#378)
  .github/workflows/cd.yml
  pyproject.toml
Due: none

ci: fix release to pypi upon (pre)release (ComPWA/expertsystem#379)
  .github/workflows/cd.yml
Due: none

test: add unit tests for all conservation rules (ComPWA/expertsystem#381)
  cspell.json
  src/expertsystem/reaction/conservation_rules.py
  tests/unit/reaction/conservation_rules/test_gellmann_nishijima.py
  tests/unit/reaction/conservation_rules/test_helicity_conservation.py
  tests/unit/reaction/conservation_rules/test_identical_particle_symmetrization.py
  tests/unit/reaction/conservation_rules/test_parity_conservation.py
Due: flake8, isort, mypy, pydocstyle, pylint

docs!: outsource develop to PWA pages (ComPWA/expertsystem#391)
  .gitignore
  CONTRIBUTING.md
  README.md
  docs/.gitignore
  docs/_static/favicon.ico
  docs/api.rst
  docs/conf.py
  docs/develop.rst
  docs/index.md
  docs/install.md
  docs/install.rst
  pyrightconfig.json
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

build!: upgrade and reorganize dependencies (ComPWA/expertsystem#392)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .pylintrc
  .vscode/settings.json
  commitlint.config.js
  cspell.json
  docs/conf.py
  setup.cfg
  tests/output/.gitignore
  tests/output/.gitkeep
  tox.ini
Due: flake8, isort, mypy, pydocstyle, pylint

ci: implement markdownlint pre-commit hook (ComPWA/expertsystem#393)
  .editorconfig
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  cspell.json
  setup.cfg
  tox.ini
Due: none

build!: define dev deps through requirements.txt (ComPWA/expertsystem#394)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/linkcheck.yml
  .gitignore
  .gitpod.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  .reqs/dev.in
  .reqs/doc.in
  .reqs/doc.txt
  .reqs/sty.in
  .reqs/sty.txt
  .reqs/test.in
  .reqs/test.txt
  .vscode/settings.json
  cspell.json
  docs/install.md
  environment.yml
  requirements-dev.txt
  requirements.txt
  setup.cfg
  src/expertsystem/io/_pdg.py
  tox.ini
Due: flake8, isort, mypy, pydocstyle, pylint

fix: correctly dump Breit-Wigner (ComPWA/expertsystem#395)
  docs/usage/workflow.ipynb
  src/expertsystem/io/_xml/_build.py
  src/expertsystem/io/_xml/_dump.py
  src/expertsystem/io/_yaml/_dump.py
  src/expertsystem/schemas/yaml/amplitude-model.json
  tests/unit/amplitude/expected_recipe.yml
  tests/unit/amplitude/test_yaml_canonical.py
  tests/unit/amplitude/test_yaml_helicity.py
  tests/unit/conftest.py
Due: flake8, isort, mypy, pydocstyle, pylint

docs: link API through reStructuredText links (ComPWA/expertsystem#396)
  docs/interactive.ipynb
  docs/usage.ipynb
  docs/usage/particles.ipynb
  docs/usage/visualization.ipynb
  docs/usage/workflow.ipynb
Due: none

ci: upgrade dependencies (ComPWA/expertsystem#398)
  .reqs/doc.txt
  .reqs/sty.txt
  .reqs/test.txt
  requirements-dev.txt
  requirements.txt
  src/expertsystem/io/_pdg.py
  tests/unit/io/test_pdg.py
  tests/unit/test_particles.py
Due: flake8, isort, mypy, pydocstyle, pylint

fix: broken RTD links and limit VSCode file scan (ComPWA/expertsystem#399)
  .vscode/settings.json
  docs/usage/workflow.ipynb
Due: none

refactor!: make solving module graph independent (ComPWA/expertsystem#401)
  cspell.json
  docs/conf.py
  docs/usage/workflow.ipynb
  src/expertsystem/amplitude/__init__.py
  src/expertsystem/amplitude/canonical_decay.py
  src/expertsystem/amplitude/helicity_decay.py
  src/expertsystem/io/_dot.py
  src/expertsystem/io/_yaml/_dump.py
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/_system_control.py
  src/expertsystem/reaction/argument_handling.py
  src/expertsystem/reaction/combinatorics.py
  src/expertsystem/reaction/default_settings.py
  src/expertsystem/reaction/solving.py
  src/expertsystem/reaction/topology.py
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/conftest.py
  tests/unit/io/test_dot.py
  tests/unit/reaction/test_combinatorics.py
  tests/unit/reaction/test_solving.py
  tests/unit/reaction/test_system_control.py
  tests/unit/reaction/test_topology.py
Due: flake8, isort, mypy, pydocstyle, pylint

fix: retrieve prefactor correctly from yaml file (ComPWA/expertsystem#405)
  src/expertsystem/io/_yaml/_build.py
Due: flake8, isort, mypy, pydocstyle, pylint

feat: reduce edge qn domains to allowed states (ComPWA/expertsystem#406)
  .github/workflows/ci.yml
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/solving.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
Due: flake8, isort, mypy, pydocstyle, pylint

cd: temporarily disable tests for mac os (ComPWA/expertsystem#407)
  .github/workflows/cd.yml
Due: none

ci: enable mac os workflows again (ComPWA/expertsystem#408)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

ci: make CD and CI compatible (ComPWA/expertsystem#410)
  .github/workflows/cd.yml
Due: none

ci: update requirements through GitHub Actions (ComPWA/expertsystem#412)
  .github/workflows/ci.yml
  .github/workflows/linkcheck.yml
  .github/workflows/requirements-cron.yml
  .github/workflows/requirements-pr.yml
  .gitpod.yml
  .readthedocs.yml
  .reqs/dev.in
  .reqs/doc.txt
  .reqs/sty.txt
  .reqs/test.txt
  .vscode/settings.json
  cspell.json
  docs/install.md
  environment.yml
  reqs/.gitignore
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  reqs/extract_install_requires.py
  reqs/requirements-dev.in
  reqs/requirements-doc.in
  reqs/requirements-sty.in
  reqs/requirements-test.in
  reqs/upgrade.sh
  requirements-dev.txt
  requirements.txt
  setup.cfg
  tox.ini
Due: flake8, isort, mypy, pydocstyle, pylint

ci: remove pip-compile annotations dev (ComPWA/expertsystem#413)
  reqs/3.6/requirements-dev.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.8/requirements-dev.txt
  reqs/upgrade.sh
Due: none

ci: upgrade developer dependencies (ComPWA/expertsystem#414)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/linkcheck.yml
  .github/workflows/pr-linting.yml
  .github/workflows/release-drafter.yml
  .github/workflows/requirements-cron.yml
  .github/workflows/requirements-pr.yml
  docs/conf.py
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  src/expertsystem/reaction/topology.py
Due: flake8, isort, mypy, pydocstyle, pylint

ci: upgrade developer dependencies (ComPWA/expertsystem#415)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
Due: none

ci: upgrade developer dependencies (ComPWA/expertsystem#416)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
Due: none

ci: improve issue templates (ComPWA/expertsystem#420)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

fix: officially remove top NormalizedIntensity (ComPWA/expertsystem#417)
  src/expertsystem/amplitude/helicity_decay.py
  tests/channels/test_d0_to_ks_kp_km.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/amplitude/test_yaml_canonical.py
  tests/unit/amplitude/test_yaml_helicity.py
Due: flake8, isort, mypy, pydocstyle, pylint

fix: decouple parity violating amplitudes (ComPWA/expertsystem#421)
  src/expertsystem/amplitude/helicity_decay.py
  tests/unit/amplitude/test_parity_prefactor.py
Due: flake8, isort, mypy, pydocstyle, pylint

ci: add issue label for interface changes (ComPWA/expertsystem#422)
  .github/release-drafter.yml
  .github/workflows/requirements-cron.yml
  labels.toml
Due: none

fix: add Interface label to PR linting (ComPWA/expertsystem#423)
  .github/workflows/pr-linting.yml
Due: none

refactor!: remove XML support (ComPWA/expertsystem#425)
  .editorconfig
  .gitignore
  .vscode/settings.json
  README.md
  cspell.json
  docs/usage/particles.ipynb
  docs/usage/workflow.ipynb
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  setup.cfg
  src/expertsystem/io/__init__.py
  src/expertsystem/io/_xml/__init__.py
  src/expertsystem/io/_xml/_build.py
  src/expertsystem/io/_xml/_dump.py
  src/expertsystem/io/_xml/validation.py
  src/expertsystem/io/_yaml/validation.py
  src/expertsystem/schemas/amplitude-model.json
  src/expertsystem/schemas/particle-list.json
  src/expertsystem/schemas/xml/README.md
  src/expertsystem/schemas/xml/particle-list.json
  src/expertsystem/schemas/xml/particle.json
  tests/channels/test_d0_to_ks_kp_km.py
  tests/unit/amplitude/test_io.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/io/test_particle_list.py
  tests/unit/io/test_xml.py
Due: flake8, isort, mypy, pydocstyle, pylint

feat: implement FitParameters repr and eq (ComPWA/expertsystem#427)
  docs/conf.py
  docs/index.md
  src/expertsystem/amplitude/model.py
  tests/unit/amplitude/test_model.py
Due: flake8, isort, mypy, pydocstyle, pylint

feat!: implement io.asdict and io.fromdict (ComPWA/expertsystem#426)
  docs/usage/particles.ipynb
  src/expertsystem/io/__init__.py
  src/expertsystem/io/_dict/__init__.py
  src/expertsystem/io/_dict/_build.py
  src/expertsystem/io/_dict/_dump.py
  src/expertsystem/io/_dict/_validate.py
  tests/unit/amplitude/test_yaml_canonical.py
  tests/unit/amplitude/test_yaml_helicity.py
  tests/unit/io/expected_recipe.yml
  tests/unit/io/test_dict.py
  tests/unit/io/test_dot.py
  tests/unit/io/test_particle_list.py
  tests/unit/test_io.py
  tests/unit/test_particle.py
Due: flake8, isort, mypy, pydocstyle, pylint

refactor!: merge load functions (ComPWA/expertsystem#428)
  .gitignore
  README.md
  docs/usage/particles.ipynb
  docs/usage/workflow.ipynb
  src/expertsystem/io/__init__.py
  src/expertsystem/io/_dict/__init__.py
  src/expertsystem/io/_dict/build.py
  src/expertsystem/io/_dict/dump.py
  src/expertsystem/io/_dict/validate.py
  src/expertsystem/reaction/__init__.py
  tests/unit/io/test_dict.py
  tests/unit/test_io.py
Due: flake8, isort, mypy, pydocstyle, pylint

ci: validate JSON files with schemas in VSCode (ComPWA/expertsystem#429)
  .vscode/settings.json
  tests/unit/io/expected_recipe.yml
  tests/unit/io/test_dict.py
Due: flake8, isort, mypy, pydocstyle, pylint

refactor: remove Type key from Parameters section (ComPWA/expertsystem#430)
  src/expertsystem/io/_dict/dump.py
  src/expertsystem/schemas/amplitude-model.json
  tests/unit/io/expected_recipe.yml
Due: flake8, isort, mypy, pydocstyle, pylint

fix: avoid validating when building dict (ComPWA/expertsystem#431)
  src/expertsystem/io/_dict/dump.py
  tests/unit/io/test_dict.py
  tests/unit/test_io.py
Due: flake8, isort, mypy, pydocstyle, pylint

refactor: make FitParameter.value required (ComPWA/expertsystem#432)
  src/expertsystem/amplitude/model.py
  tests/unit/amplitude/test_model.py
Due: flake8, isort, mypy, pydocstyle, pylint

ci: run mypy on src folder (ComPWA/expertsystem#433)
  tox.ini
Due: none

refactor: make ParticleDynamics mutable (ComPWA/expertsystem#434)
  src/expertsystem/amplitude/model.py
  src/expertsystem/io/_dict/build.py
  tests/unit/io/test_dict.py
Due: flake8, isort, mypy, pydocstyle, pylint

ci: pin Pyright to version 1.1.99 (ComPWA/expertsystem#438)
  .github/workflows/ci.yml
Due: none

ci: change PR author to GitHub bot (ComPWA/expertsystem#435)
  .github/workflows/requirements-cron.yml
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
Due: none

refactor!: use attr.asdict in io module (ComPWA/expertsystem#436)
  docs/usage/additional_particles.yml
  src/expertsystem/additional_particle_definitions.yml
  src/expertsystem/amplitude/helicity_decay.py
  src/expertsystem/amplitude/model.py
  src/expertsystem/io/__init__.py
  src/expertsystem/io/_dict/build.py
  src/expertsystem/io/_dict/dump.py
  src/expertsystem/io/_dict/validate.py
  src/expertsystem/schemas/amplitude-model.json
  src/expertsystem/schemas/particle-list.json
  tests/unit/amplitude/test_model.py
  tests/unit/io/expected_recipe.yml
  tests/unit/io/test_dict.py
Due: flake8, isort, mypy, pydocstyle, pylint
