Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, flake8, isort, mypy, nbstripout, pydocstyle, pylint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            cspell.json|
            .*\.bib|
            .*\.svg
          )$
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.25.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.0
    hooks:
      - id: prettier
        language_version: 12.18.2 # prettier does not specify node correctly

  # The following tools have to be install locally, because they can also be
  # used by code editors (e.g. linting and format-on-save).

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types:
          - python

      - id: doc8
        name: doc8
        entry: doc8
        args:
          - -q
        language: system
        files: \.(inc|rst)$

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python

      - id: isort
        name: isort
        entry: isort
        language: system
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types:
          - python

      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: system
        types:
          - jupyter

      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types:
          - python

      - id: pylint
        name: pylint
        entry: pylint
        args:
          - --rcfile=.pylintrc
          - --score=no
        language: system
        types:
          - python

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: \.(inc|rst)$

refactor: rename pole to real and imag (ComPWA/expertsystem#439)
  src/expertsystem/amplitude/model.py
  src/expertsystem/io/_dict/build.py
  tests/unit/io/expected_recipe.yml
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: set minimal version for mypy for attrs (ComPWA/expertsystem#444)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/requirements-sty.in
Due: none

fix: install sphinx-autobuild through dev reqs (ComPWA/expertsystem#446)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/requirements-dev.in
  reqs/requirements-doc.in
  tox.ini
Due: none

build!: enable Python 3.9 support (ComPWA/expertsystem#447)
  .github/workflows/ci.yml
  .github/workflows/requirements-cron.yml
  .github/workflows/requirements-pr.yml
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/3.9/requirements.txt
  setup.cfg
Due: none

ci: run pytest on all cores (ComPWA/expertsystem#448)
  .github/workflows/ci.yml
Due: none

feat: add Particle.latex tag (ComPWA/expertsystem#449)
  docs/usage/particles.ipynb
  src/expertsystem/io/_pdg.py
  src/expertsystem/particle.py
  src/expertsystem/schemas/particle-list.json
  tests/unit/io/expected_recipe.yml
  tests/unit/test_particle.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: upgrade developer dependencies (ComPWA/expertsystem#450)
  .pre-commit-config.yaml
  .pylintrc
  cspell.json
  labels.toml
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  tox.ini
Due: none

ci!: remove reStructuredText support (ComPWA/expertsystem#451)
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  commitlint.config.js
  docs/adr.md
  docs/adr.rst
  docs/conf.py
  docs/index.md
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-sty.txt
  reqs/requirements-sty.in
  setup.cfg
Due: black, doc8, flake8, isort, mypy, pydocstyle, pylint, rstcheck

docs: remove module visualization with pydeps (ComPWA/expertsystem#452)
  cspell.json
  docs/conf.py
  reqs/3.6/requirements-doc.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.9/requirements-doc.txt
  reqs/requirements-dev.in
  reqs/requirements-doc.in
  tox.ini
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: simplify Kinematics and make frozen (ComPWA/expertsystem#453)
  src/expertsystem/amplitude/helicity_decay.py
  src/expertsystem/amplitude/model.py
  src/expertsystem/io/_dict/build.py
  src/expertsystem/io/_dict/dump.py
  tests/unit/amplitude/test_model.py
  tests/unit/io/test_dict.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

adr: decide on amplitude model structure (ComPWA/expertsystem#445)
  cspell.json
  docs/adr/000-adrs.md
  docs/adr/001-amplitude-model.md
  docs/adr/examples/001/operators.ipynb
  docs/adr/examples/001/parameter_container.py
  docs/adr/examples/001/sympy.ipynb
  docs/adr/template.md
  docs/conf.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: run CI again on draft PR (ComPWA/expertsystem#455)
  .github/workflows/ci.yml
  .github/workflows/linkcheck.yml
  .github/workflows/requirements-pr.yml
Due: none

ci: add GitHub Actions workflow dispatch (ComPWA/expertsystem#456)
  .github/workflows/linkcheck.yml
  .github/workflows/release-drafter.yml
  .github/workflows/requirements-cron.yml
Due: none

ci: upgrade developer dependencies (ComPWA/expertsystem#457)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/3.9/requirements.txt
Due: none

ci: activate color in tox sphinx-autobuild (ComPWA/expertsystem#462)
  cspell.json
  tox.ini
Due: none

build: upgrade myst-parser/myst-nb (ComPWA/expertsystem#463)
  docs/conf.py
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/requirements-doc.in
Due: black, flake8, isort, mypy, pydocstyle, pylint

chore: clean up ADR folder and template (ComPWA/expertsystem#464)
  cspell.json
  docs/adr/000.md
  docs/adr/001.md
  docs/adr/001/operators.ipynb
  docs/adr/001/parameter_container.py
  docs/adr/001/sympy.ipynb
  docs/adr/template.md
  docs/conf.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: add math-dollar and other myst extensions (ComPWA/expertsystem#465)
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: format jupyter notebooks with nbqa (ComPWA/expertsystem#466)
  .pre-commit-config.yaml
  docs/adr/001/operators.ipynb
  docs/adr/001/sympy.ipynb
  docs/interactive.ipynb
  docs/usage/particles.ipynb
  docs/usage/visualization.ipynb
  docs/usage/workflow.ipynb
  reqs/3.6/requirements-dev.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.9/requirements-dev.txt
  reqs/requirements-dev.in
Due: nbstripout

ci: upgrade developer dependencies (ComPWA/expertsystem#468)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
Due: none

adr: reorganize ADR template (ComPWA/expertsystem#469)
  docs/adr.md
  docs/adr/001.md
  docs/adr/template.md
Due: none

refactor: decorate more classes with attr.s (ComPWA/expertsystem#460)
  docs/usage/visualization.ipynb
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  setup.cfg
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/solving.py
  src/expertsystem/reaction/topology.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

adr: decide how to implement dynamics (ComPWA/expertsystem#461)
  .pylintrc
  cspell.json
  docs/adr/002.md
  docs/adr/002/composition.ipynb
  docs/adr/002/expr.ipynb
  docs/adr/002/function.ipynb
  docs/adr/002/helpers.py
  docs/conf.py
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  setup.cfg
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: upload artifacts for build logs (ComPWA/expertsystem#471)
  .github/workflows/ci.yml
Due: none

fix: narrow down type hints (ComPWA/expertsystem#472)
  src/expertsystem/reaction/topology.py
  tests/unit/reaction/test_combinatorics.py
  tests/unit/reaction/test_system_control.py
  tests/unit/reaction/test_topology.py
  tox.ini
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: use Iterable or Sized where possible (ComPWA/expertsystem#473)
  src/expertsystem/amplitude/canonical_decay.py
  src/expertsystem/amplitude/helicity_decay.py
  src/expertsystem/io/_dot.py
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/combinatorics.py
  src/expertsystem/reaction/solving.py
  src/expertsystem/reaction/topology.py
  tests/unit/reaction/test_solving.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: use tuple unpacking instead of index (ComPWA/expertsystem#474)
  src/expertsystem/amplitude/canonical_decay.py
  src/expertsystem/amplitude/helicity_decay.py
  src/expertsystem/reaction/topology.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: determine recoil edges from topology (ComPWA/expertsystem#475)
  src/expertsystem/amplitude/helicity_decay.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: use iter next in test_match_external_edges (ComPWA/expertsystem#476)
  tests/unit/reaction/test_system_control.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: improve topology building interfaces (ComPWA/expertsystem#477)
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/topology.py
  tests/unit/reaction/test_combinatorics.py
  tests/unit/reaction/test_topology.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: remove graph_node_comparator from STG (ComPWA/expertsystem#478)
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/_system_control.py
  src/expertsystem/reaction/topology.py
  tests/unit/reaction/test_system_control.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: protect members of StateTransitionGraph (ComPWA/expertsystem#479)
  src/expertsystem/reaction/topology.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: upgrade developer dependencies (ComPWA/expertsystem#480)
  reqs/3.6/requirements-dev.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.9/requirements-dev.txt
Due: none

feat: freeze Topology class (ComPWA/expertsystem#470)
  docs/conf.py
  src/expertsystem/amplitude/canonical_decay.py
  src/expertsystem/amplitude/helicity_decay.py
  src/expertsystem/amplitude/model.py
  src/expertsystem/io/_dot.py
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/_system_control.py
  src/expertsystem/reaction/combinatorics.py
  src/expertsystem/reaction/solving.py
  src/expertsystem/reaction/topology.py
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/io/test_dot.py
  tests/unit/reaction/test_solving.py
  tests/unit/reaction/test_system_control.py
  tests/unit/reaction/test_topology.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: raise violated rules as exception (ComPWA/expertsystem#459)
  docs/usage/workflow.ipynb
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/solving.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor: rename solutions to transitions (ComPWA/expertsystem#481)
  docs/usage/visualization.ipynb
  docs/usage/workflow.ipynb
  src/expertsystem/amplitude/helicity_decay.py
  src/expertsystem/reaction/__init__.py
  tests/channels/test_d0_to_ks_kp_km.py
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/amplitude/test_model.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/io/test_dot.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: upgrade developer dependencies (ComPWA/expertsystem#488)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
Due: none

fix: improve exception message violated rules (ComPWA/expertsystem#485)
  src/expertsystem/reaction/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

feat: add option to change width factor (ComPWA/expertsystem#484)
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/default_settings.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

feat: render node properties in dot language (ComPWA/expertsystem#487)
  docs/usage.ipynb
  src/expertsystem/io/_dot.py
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/argument_handling.py
  src/expertsystem/reaction/conservation_rules.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint
