Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            cspell.json|
            .*\.bib|
            .*\.svg
          )$
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: https://github.com/ComPWA/repo-maintenance
    rev: 0.0.2
    hooks:
      - id: fix-first-nbcell
        args:
          - --colab
          - --replace
      - id: fix-nbformat-version

  - repo: https://github.com/ComPWA/mirrors-cspell
    rev: v5.3.11
    hooks:
      - id: cspell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 0.6.0
    hooks:
      - id: nbqa-black
        args: [--nbqa-mutate]
      - id: nbqa-flake8
        args: ["--extend-ignore=E402,F821"]
      - id: nbqa-isort
        args: [--nbqa-mutate]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        language_version: 12.18.2 # prettier does not specify node correctly

  - repo: https://github.com/ComPWA/mirrors-pyright
    rev: v1.1.126
    hooks:
      - id: pyright

  # The following tools have to be install locally, because they can also be
  # used by code editors (e.g. linting and format-on-save).

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types:
          - python

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python

      - id: isort
        name: isort
        entry: isort
        language: system
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types:
          - python

      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: system
        types:
          - jupyter

      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types:
          - python

      - id: pylint
        name: pylint
        entry: pylint
        args:
          - --rcfile=.pylintrc
          - --score=no
        language: system
        types:
          - python

docs: extend author list for Asner 2006
  docs/bibliography.bib
Due: none

docs: use author-year references
  docs/conf.py
  reqs/requirements-doc.in
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: upgrade developer dependencies (automatic)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
Due: none

docs: improve citation labels and bibliography (#14)
  docs/bibliography.bib
  docs/conf.py
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/requirements-doc.in
Due: black, flake8, isort, mypy, pydocstyle, pylint

feat: extend Blatt-Weisskopf to L=8
  docs/bibliography.bib
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: improve rendering of Blatt-Weisskopf in API
  docs/usage/dynamics/lineshapes.ipynb
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

feat: extend Blatt-Weisskopf up to L = 8 (#15)
  docs/bibliography.bib
  docs/usage/dynamics/lineshapes.ipynb
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

style: clarify custom dynamics output variables
  docs/usage/dynamics/custom.ipynb
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: expose imports in custom dynamics notebook
  docs/usage/dynamics/custom.ipynb
Due: nbstripout

docs: improve custom dynamics instructions (#16)
  docs/usage/dynamics/custom.ipynb
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor: rename particle argument to resonance
  docs/usage/dynamics/custom.ipynb
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor: rename particle argument to resonance (#17)
  docs/usage/dynamics/custom.ipynb
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: enforce EditorConfig through pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: none

ci: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

ci: remove support for labels package
  labels.toml
  reqs/3.6/requirements-dev.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.9/requirements-dev.txt
  reqs/requirements-dev.in
Due: none

ci: add repo-maintenance check-dev-files hook
  .pre-commit-config.yaml
Due: none

ci: upgrade developer dependencies
  .pre-commit-config.yaml
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-extras.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-extras.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-extras.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-extras.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/3.9/requirements.txt
Due: none

ci: standardize cspell config
  .cspell.json
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/settings.json
Due: none

ci: upgrade developer dependencies (automatic)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
Due: none

ci: standardize cspell config (#18)
  .cspell.json
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/settings.json
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-extras.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-extras.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-extras.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-extras.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/3.9/requirements.txt
Due: none

ci: activate CI on epic branches
  .github/release-drafter.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-style.yml
  .github/workflows/ci-tests.yml
  .github/workflows/linkcheck.yml
  .github/workflows/release-drafter.yml
  .github/workflows/requirements-pr.yml
Due: none

refactor: split implement_expr decorator
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: specify BlattWeisskopf signature
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: specify BlattWeisskopf signature (#19)
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

style: import sympy as sp, not sy
  docs/usage/amplitude.ipynb
Due: nbstripout

docs: extract nested rounding function
  docs/usage/amplitude.ipynb
Due: nbstripout

test: symbol names in model without dynamics
  tests/test_helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

style: rename sympy_model to model
  tests/test_helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: set logging level in tests to ERROR
  tests/conftest.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

test: check shape of amplitude model with dynamics
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

test: remove check on symbol names
  tests/test_helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

test: shape of amplitude model without dynamics
  tests/test_helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

test: check shape of amplitude model (#20)
  tests/conftest.py
  tests/test_dynamics.py
  tests/test_helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: merge master into epic branch (#21)
  docs/usage/amplitude.ipynb
  tests/conftest.py
  tests/test_dynamics.py
  tests/test_helicity.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: link to Chung barrier factor paper
  docs/bibliography.bib
Due: none

fix: remove docutils ignore
  reqs/requirements-doc.in
Due: none

fix: remove myst-parser ignore
  reqs/requirements-doc.in
Due: none

ci: remove jupyter and ipywidets from doc reqs
  reqs/requirements-doc.in
Due: none
