Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --score=no
  language: system

fix: improve canonical coefficient name (#80)
  src/ampform/helicity.py
  tests/test_angular_distributions.py
  tests/test_dynamics.py
  tests/test_helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: upgrade pinned requirements
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

style: rename result to reaction
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/interactive.ipynb
  src/ampform/__init__.py
  tests/conftest.py
  tests/test_angular_distributions.py
  tests/test_helicity.py
  tests/test_parity_prefactor.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

style: update first notebook cell in Jupyter notebooks
  docs/usage/amplitude.ipynb
  docs/usage/dynamics.ipynb
  docs/usage/dynamics/analytic-continuation.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/interactive.ipynb
  docs/usage/symplot.ipynb
Due: nbstripout

ci: update flagged words cspell
  .cspell.json
Due: none

docs: pin links to specific qrules version
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: pin intersphinx links to specific version (#83)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .cspell.json
  .pre-commit-config.yaml
  docs/conf.py
  docs/usage/amplitude.ipynb
  docs/usage/dynamics.ipynb
  docs/usage/dynamics/analytic-continuation.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/interactive.ipynb
  docs/usage/symplot.ipynb
  src/ampform/__init__.py
  tests/conftest.py
  tests/test_angular_distributions.py
  tests/test_helicity.py
  tests/test_parity_prefactor.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

build: upgrade to qrules v0.9.x
  setup.cfg
Due: none

ci: upgrade pinned requirements (automatic)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
Due: none

refactor!: adapt to new QRules interface
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/interactive.ipynb
  docs/usage/symplot.ipynb
  src/ampform/__init__.py
  src/ampform/_graph_info.py
  src/ampform/_transition_info.py
  src/ampform/dynamics/builder.py
  src/ampform/helicity.py
  src/ampform/kinematics.py
  tests/conftest.py
  tests/test_angular_distributions.py
  tests/test_angular_momentum.py
  tests/test_graph_info.py
  tests/test_helicity.py
  tests/test_transition_info.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

style: remove as q from import qrules
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/interactive.ipynb
  src/ampform/__init__.py
  tests/conftest.py
  tests/test_angular_distributions.py
  tests/test_dynamics.py
  tests/test_parity_prefactor.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor!: adapt to new QRules interface (#84)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/interactive.ipynb
  docs/usage/symplot.ipynb
  setup.cfg
  src/ampform/__init__.py
  src/ampform/_graph_info.py
  src/ampform/_transition_info.py
  src/ampform/dynamics/builder.py
  src/ampform/helicity.py
  src/ampform/kinematics.py
  tests/conftest.py
  tests/test_angular_distributions.py
  tests/test_angular_momentum.py
  tests/test_dynamics.py
  tests/test_graph_info.py
  tests/test_helicity.py
  tests/test_parity_prefactor.py
  tests/test_transition_info.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: temporary fix for pyright v1.1.151
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: fix cspell error
  .cspell.json
Due: none

ci: upgrade pinned requirements (#85)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .cspell.json
  .pre-commit-config.yaml
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: markdown syntax expertsystem
  docs/index.md
Due: none

test: parametrize fixture for ReactionInfo
  tests/conftest.py
  tests/test_helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

test: parametrize fixture for HelicityModel
  tests/conftest.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

test: add type hint pytest Config
  tests/conftest.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

test: improve use of Input class
  tests/test_parity_prefactor.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

test: rename count_parameters to n_parameters
  tests/test_parity_prefactor.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

test: improve qrules imports
  tests/test_angular_distributions.py
  tests/test_dynamics.py
  tests/test_parity_prefactor.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

test: parametrize fixtures (#86)
  tests/conftest.py
  tests/test_angular_distributions.py
  tests/test_dynamics.py
  tests/test_helicity.py
  tests/test_parity_prefactor.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

test: wrap test_generate in class
  tests/test_helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: expose generate_kinematic_variables
  src/ampform/helicity.py
  tests/test_helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: make generate_wigner_d public
  src/ampform/helicity.py
  tests/test_helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: expose generate_clebsch_gordan
  src/ampform/helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: make StateWithID public
  src/ampform/helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

style: sort kwargs attr.s
  src/ampform/helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: make TwoBodyDecay public
  src/ampform/helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: remove _transition_info module
  src/ampform/_transition_info.py
  src/ampform/helicity.py
  src/ampform/kinematics.py
  tests/test_kinematics.py
  tests/test_transition_info.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: move extract_ang_mom to TwoBodyDecay
  src/ampform/helicity.py
  tests/test_angular_momentum.py
  tests/test_helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: improve readability group_transitions
  src/ampform/helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

chore: remove __validate_float_type
  src/ampform/helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: switch to sympy.Rational
  src/ampform/helicity.py
  tests/test_angular_distributions.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: remove __attempt_int_cast
  src/ampform/helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: extract _state_to_str
  src/ampform/helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: rename generate_amplitude_name
  src/ampform/helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbstripout: any of: \.ipynb$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
