Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --score=no
  language: system

fix: remove pip-tools ignore
  reqs/requirements-dev.in
Due: none

ci: remove pydeps from dependencies
  reqs/requirements-dev.in
  tox.ini
Due: none

ci: upgrade developer dependencies (automatic)
  reqs/3.6/requirements-dev.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.9/requirements-dev.txt
Due: none

style: split requirements-dev into sections
  reqs/requirements-dev.in
Due: none

ci: remove redundant dev dependencies (#22)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/requirements-dev.in
  reqs/requirements-doc.in
  tox.ini
Due: none

docs!: add notebook with interactive Argand plots
  .cspell.json
  docs/conf.py
  docs/usage.md
  docs/usage/.gitignore
  docs/usage/amplitude.ipynb
  docs/usage/interactive.ipynb
  reqs/requirements-doc.in
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: upgrade developer dependencies (automatic)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-extras.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-extras.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
Due: none

docs!: add notebook with interactive Argand plots (#23)
  .cspell.json
  docs/conf.py
  docs/usage.md
  docs/usage/.gitignore
  docs/usage/amplitude.ipynb
  docs/usage/interactive.ipynb
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-extras.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-extras.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/requirements-doc.in
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor: rename MAKE_INTERACTIVE to STATIC_WEB_PAGE
  docs/usage/interactive.ipynb
Due: nbstripout

fix: only show gif if generated
  docs/usage/interactive.ipynb
Due: nbstripout

fix: only render gif if it has been generated (#24)
  docs/usage/interactive.ipynb
Due: nbstripout

refactor: improve BlattWeisskopf signature (#25)
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: increase minimal test coverage to 80%
  codecov.yml
  tox.ini
Due: none

docs: put link to milestones in sidebar
  docs/index.md
Due: none

docs: replace badges on index page
  docs/index.md
Due: none

docs: put note about expertsystem in margin
  docs/index.md
Due: none

docs: improve text on main index and usage page
  docs/index.md
  docs/usage.md
Due: none

docs: improve text on main index and usage page (#26)
  docs/index.md
  docs/usage.md
Due: none

docs: add cSpell badge
  .pre-commit-config.yaml
  README.md
Due: none

ci: extract .mypy.ini file
  .cspell.json
  .mypy.ini
  .pre-commit-config.yaml
  setup.cfg
Due: none

ci: switch to status -s
  .github/workflows/requirements-pr.yml
Due: none

ci: upgrade developer dependencies (automatic)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
Due: none

fix: pre-commit and artifact download in cron job
  .github/workflows/requirements-cron.yml
  .github/workflows/requirements-pr.yml
Due: none

fix: install pre-commit in cron job
  .github/workflows/requirements-cron.yml
Due: none

docs: fix link to optional dependencies
  docs/install.md
Due: none

ci: extract dev config files from tox.ini
  .cspell.json
  .flake8
  .pre-commit-config.yaml
  .pydocstyle
  .vscode/settings.json
  docs/.pydocstyle
  tests/.pydocstyle
  tox.ini
  typings/.pydocstyle
Due: none

ci: add blacken-docs pre-commit hook
  .pre-commit-config.yaml
Due: none

ci: verify doctests with pytest
  .github/workflows/ci-docs.yml
  .github/workflows/ci-tests.yml
  tox.ini
Due: none

fix: links to qrules' StateTransitionGraph
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
Due: nbstripout

fix: define testpaths in pytest.ini
  .cspell.json
  .gitpod.yml
  .pre-commit-config.yaml
  pytest.ini
  tox.ini
Due: none

fix: define testpaths in pytest.ini (#28)
  .cspell.json
  .gitpod.yml
  .pre-commit-config.yaml
  pytest.ini
  tox.ini
Due: none

ci: upgrade developer dependencies
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
Due: none

fix: adapt tests to official qrules release
  tests/test_angular_distributions.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

build: pin qrules to version 0.8.*
  setup.cfg
Due: none

fix: adapt tests to official qrules release (#29)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  setup.cfg
  tests/test_angular_distributions.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: upgrade developer dependencies
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

style: fix isort after pre-commit update
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/lineshapes.ipynb
Due: nbstripout

style: fix isort after pre-commit update (#30)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/lineshapes.ipynb
Due: nbstripout

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbstripout: any of: \.ipynb$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
