Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            cspell.json|
            .*\.bib|
            .*\.svg
          )$
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: https://github.com/ComPWA/repo-maintenance
    rev: 0.0.2
    hooks:
      - id: fix-first-nbcell
        args:
          - --colab
          - --replace
      - id: fix-nbformat-version

  - repo: https://github.com/ComPWA/mirrors-cspell
    rev: v5.3.11
    hooks:
      - id: cspell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 0.6.0
    hooks:
      - id: nbqa-black
        args: [--nbqa-mutate]
      - id: nbqa-flake8
        args: ["--extend-ignore=E402,F821"]
      - id: nbqa-isort
        args: [--nbqa-mutate]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        language_version: 12.18.2 # prettier does not specify node correctly

  - repo: https://github.com/ComPWA/mirrors-pyright
    rev: v1.1.126
    hooks:
      - id: pyright

  # The following tools have to be install locally, because they can also be
  # used by code editors (e.g. linting and format-on-save).

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types:
          - python

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python

      - id: isort
        name: isort
        entry: isort
        language: system
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types:
          - python

      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: system
        types:
          - jupyter

      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types:
          - python

      - id: pylint
        name: pylint
        entry: pylint
        args:
          - --rcfile=.pylintrc
          - --score=no
        language: system
        types:
          - python

fix: order optiona alphabetically
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: linting errors
  .mypy.ini
  docs/abbreviate_signature.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: ignore missing sphinx with pyright
  docs/abbreviate_signature.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: intersphinx links to Python typing
  docs/abbreviate_signature.py
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: extend fixes of c737f95
  docs/abbreviate_signature.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: fix intersphinx links to numpy.typing
  docs/abbreviate_signature.py
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: remove mpl_interactions nitpick_ignore
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: extend fixes of c737f95 and d3739b9
  docs/abbreviate_signature.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: nitpick_ignore typing_extensions.Protocol
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs!: abbreviate annotations in API (#44)
  .mypy.ini
  docs/_static/linebreaks-api.css
  docs/abbreviate_signature.py
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

feat: extract function for coupled width
  docs/extend_docstrings.py
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: use coupled width in K-matrix page
  docs/usage/k-matrix.ipynb
Due: nbstripout

refactor: extract function for coupled width (#45)
  docs/extend_docstrings.py
  docs/usage/k-matrix.ipynb
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: upgrade developer dependencies
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

ci: change auto-upgrade commit message
  .github/workflows/requirements-cron.yml
  .github/workflows/requirements-pr.yml
Due: none

ci: run notebooks through pytest
  pyproject.toml
  pytest.ini
  setup.cfg
  tox.ini
Due: none

ci: upgrade pinned requirements (automatic)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
Due: none

fix: flake8-rst-docstring problem
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: upgrade pinned requirements (#46)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .github/workflows/requirements-cron.yml
  .github/workflows/requirements-pr.yml
  .pre-commit-config.yaml
  pyproject.toml
  pytest.ini
  setup.cfg
  src/ampform/dynamics/builder.py
  tox.ini
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: link to AmpForm API
  docs/index.md
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/interactive.ipynb
  docs/usage/k-matrix.ipynb
Due: nbstripout

build: install symplot mini-package
  docs/conf.py
  docs/usage/dynamics.md
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/interactive.ipynb
  pytest.ini
  setup.cfg
  src/symplot/__init__.py
  src/symplot/py.typed
  tests/symplot/__init__.py
  tests/symplot/test_ipywidgets.py
  tests/symplot/test_symplot.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: limit markdown-it-py to version 0.x
  setup.cfg
Due: none

fix: duplicate global Symbol(a)
  tests/symplot/test_symplot.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

build: install symplot mini-package (#47)
  docs/conf.py
  docs/usage/dynamics.md
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/interactive.ipynb
  pytest.ini
  setup.cfg
  src/symplot/__init__.py
  src/symplot/py.typed
  tests/symplot/__init__.py
  tests/symplot/test_ipywidgets.py
  tests/symplot/test_symplot.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: wrap docstring extend script in functions
  docs/conf.py
  docs/extend_docstrings.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: return square value of break-up momentum
  docs/extend_docstrings.py
  docs/usage/dynamics/k-matrix.ipynb
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: avoid conflicting mdit-py-plugins versions
  setup.cfg
Due: none

refactor: return square value of break-up momentum (#48)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  docs/extend_docstrings.py
  docs/usage/dynamics/k-matrix.ipynb
  setup.cfg
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor!: use Mandelstam s instead of m^2
  docs/extend_docstrings.py
  docs/usage/dynamics/k-matrix.ipynb
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/builder.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: link to Mandelstam variables section
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: improve lineshape page
  docs/extend_docstrings.py
  docs/usage/dynamics/lineshapes.ipynb
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor!: use Mandelstam s instead of m² (#49)
  docs/extend_docstrings.py
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/builder.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: use 𝛤₀ fixed width symbol
  docs/extend_docstrings.py
  docs/usage/dynamics/lineshapes.ipynb
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: add interactive lineshapes
  docs/usage/dynamics/lineshapes.ipynb
Due: nbstripout

docs: add interactive dynamics lineshape widgets (#50)
  docs/extend_docstrings.py
  docs/usage/dynamics/lineshapes.ipynb
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: define STATIC_WEB_PAGE in all notebooks
  .pre-commit-config.yaml
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/interactive.ipynb
  docs/usage/symplot.ipynb
Due: nbstripout

feat: add and visualize phsp factor functions
  .cspell.json
  docs/bibliography.bib
  docs/extend_docstrings.py
  docs/usage/dynamics.md
  docs/usage/dynamics/analytic-continuation.ipynb
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: ignore broken link
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

feat: add and visualize phsp factor functions (#51)
  .cspell.json
  .pre-commit-config.yaml
  docs/bibliography.bib
  docs/conf.py
  docs/extend_docstrings.py
  docs/usage/amplitude.ipynb
  docs/usage/dynamics.md
  docs/usage/dynamics/analytic-continuation.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/interactive.ipynb
  docs/usage/symplot.ipynb
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint
