Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, flake8, isort, mypy, nbstripout, pydocstyle, pylint, rstcheck

black:
  name: black
  entry: black
  language: system

doc8:
  name: doc8
  entry: doc8
  args:
  - -q
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --score=no
  language: system

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system

ci: add back jupyterlab-code-formatter (ComPWA/expertsystem#491)
  reqs/3.6/requirements-dev.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.9/requirements-dev.txt
  reqs/requirements-dev.in
  tox.ini
Due: none

ci: upgrade developer dependencies (ComPWA/expertsystem#492)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/3.9/requirements.txt
Due: none

refactor: let Topology builder return tuple (ComPWA/expertsystem#493)
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/topology.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: rename workflow notebook to transition (ComPWA/expertsystem#494)
  docs/interactive.ipynb
  docs/usage.ipynb
  docs/usage/particles.ipynb
  docs/usage/transition.ipynb
  docs/usage/visualization.ipynb
  src/expertsystem/reaction/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: render module import line on API pages (ComPWA/expertsystem#495)
  docs/_templates/module.rst_t
  docs/_templates/package.rst_t
Due: none

ci: add infrastructure for adding custom stubs (ComPWA/expertsystem#496)
  .pylintrc
  .vscode/settings.json
  cspell.json
  pyrightconfig.json
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/3.9/requirements.txt
  setup.cfg
  tox.ini
  typings/.gitignore
  typings/README.md
  typings/__init__.pyi
  typings/tox.ini
Due: none

fix: remove cell ids from notebooks (ComPWA/expertsystem#497)
  docs/adr/001/operators.ipynb
  docs/adr/002/composition.ipynb
  docs/adr/002/expr.ipynb
  docs/adr/002/function.ipynb
Due: nbstripout

fix: allow iterable in Topology constructor (ComPWA/expertsystem#498)
  src/expertsystem/reaction/topology.py
  tests/unit/io/test_dot.py
  tests/unit/reaction/test_system_control.py
  tests/unit/reaction/test_topology.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: use UPPER_CASE for Enum members (ComPWA/expertsystem#499)
  docs/usage/transition.ipynb
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/3.9/requirements.txt
  src/expertsystem/amplitude/model.py
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/_system_control.py
  src/expertsystem/reaction/default_settings.py
  src/expertsystem/schemas/amplitude-model.json
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/amplitude/test_model.py
  tests/unit/io/expected_recipe.yml
  tests/unit/io/test_dict.py
  tests/unit/reaction/test_system_control.py
  tests/unit/test_reaction.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: create_isobar_topologies only requires n_final (ComPWA/expertsystem#500)
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/topology.py
  tests/unit/reaction/test_combinatorics.py
  tests/unit/reaction/test_topology.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: visualize Topology with node IDs (ComPWA/expertsystem#501)
  docs/usage/visualization.ipynb
  src/expertsystem/io/__init__.py
  src/expertsystem/io/_dot.py
  tests/unit/io/test_dot.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: add collapsible_headings labextension (ComPWA/expertsystem#502)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/3.9/requirements.txt
  reqs/requirements-dev.in
Due: none

ci: upgrade developer dependencies (ComPWA/expertsystem#503)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
Due: none

refactor: relabel edge IDs to range [-m, n+i] (ComPWA/expertsystem#504)
  src/expertsystem/reaction/topology.py
  src/expertsystem/schemas/amplitude-model.json
  tests/unit/amplitude/test_model.py
  tests/unit/io/expected_recipe.yml
  tests/unit/io/test_dict.py
  tests/unit/reaction/test_combinatorics.py
  tests/unit/reaction/test_solving.py
  tests/unit/reaction/test_topology.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: automatically upgrade pre-commit hooks (ComPWA/expertsystem#506)
  .github/workflows/requirements-cron.yml
  .pre-commit-config.yaml
  docs/adr/template.md
  pyrightconfig.json
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  typings/.gitignore
Due: none

ci: upgrade developer dependencies (ComPWA/expertsystem#507)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/3.9/requirements.txt
Due: none

fix: use tqdm.autonotebook (ComPWA/expertsystem#508)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  setup.cfg
  src/expertsystem/reaction/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

style: abbreviate sympy to sp, not sy (ComPWA/expertsystem#509)
  docs/adr/001/sympy.ipynb
  docs/adr/002.md
  docs/adr/002/composition.ipynb
  docs/adr/002/expr.ipynb
  docs/adr/002/function.ipynb
  docs/adr/002/helpers.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

feat: render edge IDs in graph visualization (ComPWA/expertsystem#510)
  docs/usage.ipynb
  docs/usage/visualization.ipynb
  src/expertsystem/io/__init__.py
  src/expertsystem/io/_dot.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

feat: add mass conservation factor to generate_transitions (ComPWA/expertsystem#511)
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/default_settings.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: upgrade developer dependencies (ComPWA/expertsystem#512)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
Due: none

ci: allow running notebooks through tox doclive (ComPWA/expertsystem#514)
  tox.ini
Due: none

ci: add nbqa-flake8 pre-commit hook (ComPWA/expertsystem#517)
  .pre-commit-config.yaml
  docs/adr/001/operators.ipynb
  docs/adr/001/sympy.ipynb
  docs/adr/002/composition.ipynb
  docs/adr/002/expr.ipynb
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/lineshapes.ipynb
Due: nbstripout

docs: rename notebooks to match module names (ComPWA/expertsystem#518)
  docs/interactive.ipynb
  docs/usage.ipynb
  docs/usage/amplitude.ipynb
  docs/usage/particle.ipynb
  docs/usage/reaction.ipynb
  docs/usage/visualize.ipynb
  src/expertsystem/__init__.py
  src/expertsystem/io/__init__.py
  src/expertsystem/particle.py
  src/expertsystem/reaction/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

feat: export and import transitions to JSON/YAML (ComPWA/expertsystem#519)
  cspell.json
  docs/usage/reaction.ipynb
  docs/usage/visualize.ipynb
  src/expertsystem/__init__.py
  src/expertsystem/io/__init__.py
  src/expertsystem/io/_dict.py
  src/expertsystem/io/_dot.py
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/default_settings.py
  src/expertsystem/reaction/quantum_numbers.py
  src/expertsystem/reaction/topology.py
  tests/conftest.py
  tests/unit/io/test_io.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor: rename HelicityKinematics.convert to .transform (ComPWA/expertsystem#524)
  src/expertsystem/amplitude/kinematics.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: move Result.collapse_graphs to io._dot (ComPWA/expertsystem#523)
  docs/interactive.ipynb
  docs/usage.ipynb
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/reaction.ipynb
  docs/usage/visualize.ipynb
  src/expertsystem/io/__init__.py
  src/expertsystem/io/_dot.py
  src/expertsystem/reaction/__init__.py
  tests/unit/io/test_dot.py
  tests/unit/reaction/test_solving.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: upgrade developer dependencies (ComPWA/expertsystem#525)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
Due: none

fix: hide edge IDs in topology visualization (ComPWA/expertsystem#526)
  docs/usage/visualize.ipynb
  src/expertsystem/io/_dot.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: upgrade developer dependencies (ComPWA/expertsystem#527)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
Due: none

build: add graphviz to extras_require (ComPWA/expertsystem#528)
  reqs/.gitignore
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-extras.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-extras.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-extras.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-extras.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/extract_install_requires.py
  reqs/requirements-dev.in
  reqs/requirements-doc.in
  reqs/requirements-sty.in
  reqs/requirements-test.in
  setup.cfg
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: render figures as SVG (ComPWA/expertsystem#529)
  docs/adr/001/operators.ipynb
  docs/adr/001/sympy.ipynb
  docs/adr/002/composition.ipynb
  docs/adr/002/expr.ipynb
  docs/adr/002/function.ipynb
  docs/interactive.ipynb
  docs/usage.ipynb
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/particle.ipynb
  docs/usage/reaction.ipynb
  docs/usage/visualize.ipynb
Due: nbstripout

fix: render spin projections as int (ComPWA/expertsystem#532)
  src/expertsystem/io/_dot.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: merge interactive with usage page (ComPWA/expertsystem#533)
  docs/index.md
  docs/interactive.ipynb
  docs/usage.ipynb
Due: nbstripout

docs: install expertsystem in notebook kernel (ComPWA/expertsystem#534)
  docs/usage.ipynb
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/particle.ipynb
  docs/usage/reaction.ipynb
  docs/usage/visualize.ipynb
Due: nbstripout

refactor: rename parameters to parameter_defaults (ComPWA/expertsystem#531)
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
  src/expertsystem/amplitude/helicity.py
  tests/channels/test_d0_to_ks_kp_km.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/amplitude/test_angular_distributions.py
  tests/unit/amplitude/test_helicity.py
  tests/unit/amplitude/test_parity_prefactor.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: add custom pre-commit hooks for notebooks (ComPWA/expertsystem#535)
  .pre-commit-config.yaml
  .pre-commit-hooks/fix_first_nbcell.py
  .pre-commit-hooks/fix_nbformat_version.py
  docs/usage.ipynb
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/particle.ipynb
  docs/usage/reaction.ipynb
  docs/usage/visualize.ipynb
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: add PR message to release notes (ComPWA/expertsystem#538)
  .github/release-drafter.yml
Due: none

Path conditions:
  black: any of: \.py$
  doc8: any of: \.(inc|rst)$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbstripout: any of: \.ipynb$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
  rstcheck: any of: \.(inc|rst)$
