Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            cspell.json|
            .*\.bib|
            .*\.svg
          )$
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: https://github.com/ComPWA/repo-maintenance
    rev: 0.0.2
    hooks:
      - id: fix-first-nbcell
        args:
          - --colab
          - --replace
      - id: fix-nbformat-version

  - repo: https://github.com/ComPWA/mirrors-cspell
    rev: v5.3.11
    hooks:
      - id: cspell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 0.6.0
    hooks:
      - id: nbqa-black
        args: [--nbqa-mutate]
      - id: nbqa-flake8
        args: ["--extend-ignore=E402,F821"]
      - id: nbqa-isort
        args: [--nbqa-mutate]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        language_version: 12.18.2 # prettier does not specify node correctly

  - repo: https://github.com/ComPWA/mirrors-pyright
    rev: v1.1.126
    hooks:
      - id: pyright

  # The following tools have to be install locally, because they can also be
  # used by code editors (e.g. linting and format-on-save).

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types:
          - python

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python

      - id: isort
        name: isort
        entry: isort
        language: system
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types:
          - python

      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: system
        types:
          - jupyter

      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types:
          - python

      - id: pylint
        name: pylint
        entry: pylint
        args:
          - --rcfile=.pylintrc
          - --score=no
        language: system
        types:
          - python

fix: use s=m**2 in K-matrix animation
  docs/usage/dynamics/k-matrix.ipynb
Due: nbstripout

fix: rendering of Breit-Wigner in K-matrix nb
  docs/usage/dynamics/k-matrix.ipynb
Due: nbstripout

fix: improve math rendering in dynamics API page
  docs/extend_docstrings.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: publication year of Meyer 2008
  docs/bibliography.bib
  docs/usage/dynamics/k-matrix.ipynb
Due: nbstripout

feat: add phases in K-matrix animation
  docs/usage/dynamics/k-matrix.ipynb
Due: nbstripout

refactor: use complex_sqrt in phase_space_factor
  docs/usage/dynamics/analytic-continuation.ipynb
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor: implement phase_space_factor in BW
  docs/extend_docstrings.py
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  src/ampform/dynamics/__init__.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

feat: allow inserting different phsp factor
  docs/usage/dynamics/lineshapes.ipynb
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/builder.py
  src/ampform/dynamics/decorator.py
  src/ampform/helicity.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor!: implement analytic continuation (#52)
  docs/extend_docstrings.py
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/analytic-continuation.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/builder.py
  src/ampform/dynamics/decorator.py
  src/ampform/helicity.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: explain missing factor q/q0 in rel BW
  docs/extend_docstrings.py
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: link rel BW docstring to PDG
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: improve docstring BlattWeisskopfSquared
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: add Blatt-Weisskopf visualization
  docs/usage/dynamics/lineshapes.ipynb
Due: nbstripout

refactor!: return Blatt-Weisskopf squared
  docs/extend_docstrings.py
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor!: switch to Blatt-Weisskopf squared (#53)
  docs/extend_docstrings.py
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: docstring of coupled_width
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: explain default phase space factor
  docs/extend_docstrings.py
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: improve signature of coupled_width (#54)
  docs/extend_docstrings.py
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: expose Blatt-Weisskopf widget in docs
  docs/usage/dynamics/lineshapes.ipynb
Due: nbstripout

docs: expose Breit-Wigner widget output
  docs/usage/dynamics/lineshapes.ipynb
Due: nbstripout

docs: combine Breit-Wigner plots for comparison
  docs/usage/dynamics/lineshapes.ipynb
Due: nbstripout

docs: auto-add margin notes interactive notebooks
  docs/conf.py
  docs/usage/dynamics/analytic-continuation.ipynb
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/symplot.ipynb
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs!: merge lineshapes page into dynamics page
  docs/index.md
  docs/usage/dynamics.ipynb
  docs/usage/dynamics.md
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: improve dynamics page with widget output (#55)
  docs/conf.py
  docs/index.md
  docs/usage/dynamics.ipynb
  docs/usage/dynamics.md
  docs/usage/dynamics/analytic-continuation.ipynb
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/symplot.ipynb
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: add reference to Pychy
  docs/bibliography.bib
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix!: remove faulty terms in analytic continuation
  .cspell.json
  docs/extend_docstrings.py
  docs/usage/dynamics/analytic-continuation.ipynb
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: remove complex sqrt from analytic cont.
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: plot range of analytic contination
  docs/usage/dynamics.ipynb
  docs/usage/dynamics/analytic-continuation.ipynb
Due: nbstripout

fix!: remove faulty terms in analytic continuation (#56)
  .cspell.json
  docs/extend_docstrings.py
  docs/usage/dynamics.ipynb
  docs/usage/dynamics/analytic-continuation.ipynb
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: install doc requirements in Google Colab
  .pre-commit-config.yaml
  docs/usage/amplitude.ipynb
  docs/usage/dynamics.ipynb
  docs/usage/dynamics/analytic-continuation.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/k-matrix.ipynb
  docs/usage/interactive.ipynb
  docs/usage/symplot.ipynb
Due: nbstripout

fix: signature of relative_breit_wigner_with_ff
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: rendering of Clebsch-Gordan coefficient
  src/ampform/helicity.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: improve coefficient symbol name
  src/ampform/helicity.py
  tests/test_angular_distributions.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: upgrade pinned requirements
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

ci: upgrade pinned requirements (#57)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
Due: none

feat: define ComplexSqrt with numpy lambdify
  .cspell.json
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/decorator.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: support imaginary input for ComplexSqrt
  src/ampform/dynamics/__init__.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

feat: provide lambdify for python code
  src/ampform/dynamics/__init__.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: improve math rendering ComplexSqrt and BlattW
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: support using sympy.plot on ComplexSqrt
  .pylintrc
  src/ampform/dynamics/__init__.py
  tests/test_dynamics.py
Due: black, flake8, isort, mypy, pydocstyle, pylint
