Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, pydocstyle, pylint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: cspell.json
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--django"]
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black

  - repo: https://github.com/kynan/nbstripout
    rev: 0.3.8
    hooks:
      - id: nbstripout
        files: ".ipynb"

  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier
        language_version: 12.18.2 # prettier does not specify node correcly

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy --config-file=tox.ini
        language: system
        types:
          - python

      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types:
          - python

      - id: pylint
        name: pylint
        entry: pylint --rcfile=.pylintrc --score=no
        language: system
        types:
          - python

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: \.(inc|rst)$

docs!: add interactive examples page (ComPWA/expertsystem#264)
  .vscode/settings.json
  doc/.gitignore
  doc/conf.py
  doc/contribute.rst
  doc/index.rst
  doc/interactive.rst
  doc/tox.ini
  doc/usage.rst
  setup.cfg
Due: flake8, mypy, pydocstyle, pylint, rstcheck

refactor: remove dicts in determine_node_settings (ComPWA/expertsystem#262)
  expertsystem/state/particle.py
  expertsystem/topology.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_system_control.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

refactor: convert to dict after int. settings (ComPWA/expertsystem#263)
  expertsystem/ui/__init__.py
Due: flake8, mypy, pydocstyle, pylint

refactor!: split state.particle module (ComPWA/expertsystem#269)
  examples/particles.ipynb
  expertsystem/amplitude/canonical_decay.py
  expertsystem/amplitude/helicity_decay.py
  expertsystem/data.py
  expertsystem/io/xml/_dump.py
  expertsystem/nested_dicts.py
  expertsystem/state/__init__.py
  expertsystem/state/propagation.py
  expertsystem/state/properties.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_default_settings.py
  expertsystem/ui/_system_control.py
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/state/conservation_rules/test_ls_coupling.py
  tests/unit/state/test_graph_combinatorics.py
  tests/unit/ui/test_system_control.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint

refactor!: split state.properties module (ComPWA/expertsystem#272)
  examples/particles.ipynb
  expertsystem/state/__init__.py
  expertsystem/state/combinatorics.py
  expertsystem/state/properties.py
  expertsystem/ui/__init__.py
  tests/unit/state/test_combinatorics.py
Due: flake8, mypy, pydocstyle, pylint

feat: improve Parity class (ComPWA/expertsystem#271)
  expertsystem/data.py
  tests/unit/test_data.py
Due: flake8, mypy, pydocstyle, pylint

feat: implement get_intermediate_state_names (ComPWA/expertsystem#270)
  examples/quickstart.ipynb
  expertsystem/data.py
  expertsystem/ui/__init__.py
  tests/unit/test_data.py
  tests/unit/test_ui.py
Due: flake8, mypy, pydocstyle, pylint

feat: add type hints amplitude module (ComPWA/expertsystem#276)
  expertsystem/amplitude/abstract_generator.py
  expertsystem/amplitude/canonical_decay.py
  expertsystem/amplitude/helicity_decay.py
  expertsystem/state/properties.py
  setup.cfg
Due: flake8, mypy, pydocstyle, pylint

chore: use python-constraint PyPI package (ComPWA/expertsystem#277)
  .vscode/settings.json
  cspell.json
  doc/.gitignore
  doc/conf.py
  expertsystem/solvers/__init__.py
  expertsystem/solvers/constraint/__init__.py
  expertsystem/solvers/constraint/compat.py
  expertsystem/solvers/constraint/tox.ini
  expertsystem/solvers/constraint/version.py
  expertsystem/state/propagation.py
  pyrightconfig.json
  setup.cfg
  tox.ini
Due: flake8, mypy, pydocstyle, pylint

refactor!: simplify Propagator/Solver interface (ComPWA/expertsystem#278)
  examples/quickstart.ipynb
  examples/visualization.ipynb
  expertsystem/data.py
  expertsystem/nested_dicts.py
  expertsystem/state/conservation_rules.py
  expertsystem/state/propagation.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_default_settings.py
  expertsystem/ui/_system_control.py
  setup.cfg
  tests/channels/test_d0_to_ks_kp_km.py
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
  tests/channels/test_nbody_reactions.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/conftest.py
  tests/unit/state/conservation_rules/test_ls_coupling.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

ci: implement doc8 check (ComPWA/expertsystem#273)
  .pre-commit-config.yaml
  doc/contribute.rst
  doc/index.rst
  setup.cfg
Due: rstcheck

ci: upgrade to pytest 6.1.0 (ComPWA/expertsystem#279)
  setup.cfg
Due: none

chore!: reorganize code for new subpackage solving (ComPWA/expertsystem#280)
  doc/index.rst
  expertsystem/data.py
  expertsystem/solving/__init__.py
  expertsystem/solving/conservation_rules.py
  expertsystem/state/__init__.py
  expertsystem/state/properties.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_default_settings.py
  expertsystem/ui/_system_control.py
  tests/channels/test_nbody_reactions.py
  tests/unit/state/conservation_rules/test_additive_qn.py
  tests/unit/state/conservation_rules/test_c_parity.py
  tests/unit/state/conservation_rules/test_g_parity.py
  tests/unit/state/conservation_rules/test_ls_coupling.py
  tests/unit/state/conservation_rules/test_mass.py
  tests/unit/state/conservation_rules/test_spin.py
Due: flake8, mypy, pydocstyle, pylint, rstcheck

refactor: use Particle in graph type of Solver interface (ComPWA/expertsystem#284)
  expertsystem/nested_dicts.py
  expertsystem/solving/__init__.py
  expertsystem/ui/__init__.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

docs: improve docstring of Rule (ComPWA/expertsystem#275)
  expertsystem/solving/conservation_rules.py
Due: flake8, mypy, pydocstyle, pylint

ci: ignore draft pull requests (ComPWA/expertsystem#289)
  .github/workflows/ci.yml
  .github/workflows/linkcheck.yml
Due: none

ci: add GitPod configuration (ComPWA/expertsystem#290)
  .github/workflows/ci.yml
  .gitignore
  .gitpod.yml
  .vscode/.gitignore
  README.md
  cspell.json
  doc/index.rst
Due: rstcheck

refactor!: move amplitude writers to io (ComPWA/expertsystem#286)
  .github/workflows/linkcheck.yml
  expertsystem/amplitude/abstract_generator.py
  expertsystem/amplitude/helicity_decay.py
  expertsystem/io/xml/__init__.py
  expertsystem/io/yaml/__init__.py
  expertsystem/io/yaml/_dump.py
  expertsystem/io/yaml/_xml_to_yaml.py
  expertsystem/nested_dicts.py
  expertsystem/ui/__init__.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/amplitude/test_yaml_canonical.py
  tests/unit/amplitude/test_yaml_helicity.py
  tests/unit/conftest.py
Due: flake8, mypy, pydocstyle, pylint

feat!: implement AmplitudeModel class (ComPWA/expertsystem#287)
  .github/workflows/ci.yml
  .github/workflows/linkcheck.yml
  .pylintrc
  doc/conf.py
  examples/quickstart.ipynb
  expertsystem/amplitude/__init__.py
  expertsystem/amplitude/abstract_generator.py
  expertsystem/amplitude/canonical_decay.py
  expertsystem/amplitude/helicity_decay.py
  expertsystem/amplitude/model.py
  expertsystem/data.py
  expertsystem/io/xml/__init__.py
  expertsystem/io/xml/_dump.py
  expertsystem/io/yaml/__init__.py
  expertsystem/io/yaml/_dump.py
  expertsystem/io/yaml/_xml_to_yaml.py
  expertsystem/schemas/xml/particle-list.json
  expertsystem/ui/__init__.py
  tests/channels/test_d0_to_ks_kp_km.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/amplitude/expected_recipe.yml
  tests/unit/amplitude/test_model.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/amplitude/test_yaml_canonical.py
  tests/unit/amplitude/test_yaml_helicity.py
  tests/unit/conftest.py
Due: flake8, mypy, pydocstyle, pylint

feat!: implement load_amplitude_model (ComPWA/expertsystem#291)
  .pylintrc
  examples/quickstart.ipynb
  expertsystem/amplitude/model.py
  expertsystem/io/__init__.py
  expertsystem/io/xml/__init__.py
  expertsystem/io/xml/_build.py
  expertsystem/io/xml/_dump.py
  expertsystem/io/yaml/__init__.py
  expertsystem/io/yaml/_build.py
  expertsystem/io/yaml/_dump.py
  tests/unit/amplitude/test_io.py
Due: flake8, mypy, pydocstyle, pylint

refactor!: change solutions type of Result class (ComPWA/expertsystem#285)
  expertsystem/amplitude/canonical_decay.py
  expertsystem/data.py
  expertsystem/nested_dicts.py
  expertsystem/solving/__init__.py
  expertsystem/state/properties.py
  expertsystem/ui/__init__.py
  tests/unit/state/conservation_rules/test_ls_coupling.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

fix: make expertsystem PEP-561 compatible (ComPWA/expertsystem#296)
  expertsystem/py.typed
  setup.cfg
Due: none

feat: ignore name and pid in Particle comparison (ComPWA/expertsystem#295)
  expertsystem/data.py
  expertsystem/io/_pdg.py
  tests/unit/io/test_particle_list.py
  tests/unit/io/test_pdg.py
  tests/unit/test_data.py
Due: flake8, mypy, pydocstyle, pylint

refactor!: fully abolish old nested dict graph in STM (ComPWA/expertsystem#297)
  expertsystem/amplitude/canonical_decay.py
  expertsystem/amplitude/helicity_decay.py
  expertsystem/data.py
  expertsystem/io/dot.py
  expertsystem/nested_dicts.py
  expertsystem/solving/__init__.py
  expertsystem/state/properties.py
  expertsystem/topology.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_system_control.py
  tests/channels/test_d0_to_ks_kp_km.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/state/conservation_rules/test_ls_coupling.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

chore: remove obsolete QNConverters (ComPWA/expertsystem#298)
  expertsystem/nested_dicts.py
Due: flake8, mypy, pydocstyle, pylint

refactor: turn ParticleCollection into mutable set (ComPWA/expertsystem#292)
  expertsystem/data.py
  expertsystem/io/xml/_dump.py
  expertsystem/io/yaml/_dump.py
  expertsystem/solving/__init__.py
  expertsystem/state/properties.py
  expertsystem/ui/__init__.py
  tests/unit/io/test_particle_list.py
  tests/unit/io/test_pdg.py
  tests/unit/test_data.py
Due: flake8, mypy, pydocstyle, pylint

feat: implement Particle.__neg__ operator (ComPWA/expertsystem#299)
  doc/interactive.rst
  expertsystem/data.py
  tests/unit/test_data.py
Due: flake8, mypy, pydocstyle, pylint, rstcheck

fix: remove doctest directive (ComPWA/expertsystem#300)
  .pre-commit-config.yaml
  cspell.json
  expertsystem/data.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint

refactor!: eliminate remaining nested dicts usage (ComPWA/expertsystem#301)
  expertsystem/nested_dicts.py
  expertsystem/solving/__init__.py
  expertsystem/solving/conservation_rules.py
  expertsystem/state/properties.py
  expertsystem/ui/_default_settings.py
  expertsystem/ui/_system_control.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/state/conservation_rules/test_spin.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint

docs: add PyPI project URLs (ComPWA/expertsystem#304)
  setup.cfg
Due: none

chore: remove numpy as a dependency (ComPWA/expertsystem#308)
  cspell.json
  doc/conf.py
  expertsystem/_utils.py
  expertsystem/io/_pdg.py
  expertsystem/solving/conservation_rules.py
  expertsystem/state/combinatorics.py
  setup.cfg
Due: flake8, mypy, pydocstyle, pylint

refactor!: replace dataclasses with attrs (ComPWA/expertsystem#312)
  .github/workflows/ci.yml
  doc/conf.py
  environment.yml
  expertsystem/__init__.py
  expertsystem/amplitude/model.py
  expertsystem/data.py
  expertsystem/solving/__init__.py
  expertsystem/solving/conservation_rules.py
  expertsystem/topology.py
  pyproject.toml
  setup.cfg
  tests/unit/test_data.py
Due: flake8, mypy, pydocstyle, pylint

refactor!: remove nested dict graph node props (ComPWA/expertsystem#313)
  expertsystem/amplitude/canonical_decay.py
  expertsystem/amplitude/helicity_decay.py
  expertsystem/data.py
  expertsystem/solving/__init__.py
  expertsystem/state/properties.py
  expertsystem/topology.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_system_control.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/state/conservation_rules/test_ls_coupling.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

fix: avoid deep copies of graphs during solving (ComPWA/expertsystem#315)
  expertsystem/solving/__init__.py
  expertsystem/topology.py
Due: flake8, mypy, pydocstyle, pylint

ci: report and clean up unused code (ComPWA/expertsystem#317)
  expertsystem/reaction/conservation_rules.py
  expertsystem/ui/_system_control.py
  pyrightconfig.json
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/reaction/conservation_rules/test_ls_coupling.py
  tests/unit/reaction/conservation_rules/test_spin.py
Due: flake8, mypy, pydocstyle, pylint

refactor: simplify API (ComPWA/expertsystem#318)
  cspell.json
  doc/_templates/package.rst_t
  doc/api.rst
  doc/conf.py
  doc/usage.rst
  examples/particles.ipynb
  examples/visualization.ipynb
  expertsystem/__init__.py
  expertsystem/amplitude/__init__.py
  expertsystem/amplitude/canonical_decay.py
  expertsystem/amplitude/helicity_decay.py
  expertsystem/io/__init__.py
  expertsystem/io/_dot.py
  expertsystem/io/_pdg.py
  expertsystem/io/_xml/__init__.py
  expertsystem/io/_xml/_build.py
  expertsystem/io/_xml/_dump.py
  expertsystem/io/_xml/validation.py
  expertsystem/io/_yaml/__init__.py
  expertsystem/io/_yaml/_build.py
  expertsystem/io/_yaml/_dump.py
  expertsystem/io/_yaml/validation.py
  expertsystem/particle.py
  expertsystem/reaction/__init__.py
  expertsystem/reaction/combinatorics.py
  expertsystem/reaction/conservation_rules.py
  expertsystem/reaction/solving.py
  expertsystem/reaction/topology.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_default_settings.py
  expertsystem/ui/_system_control.py
  setup.cfg
  tests/unit/amplitude/test_yaml_helicity.py
  tests/unit/io/test_dot.py
  tests/unit/io/test_xml.py
  tests/unit/reaction/test_combinatorics.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint, rstcheck

ci: activate flake8 bugbear (ComPWA/expertsystem#322)
  expertsystem/reaction/conservation_rules.py
  expertsystem/reaction/solving.py
  expertsystem/ui/__init__.py
  setup.cfg
  tests/unit/reaction/conservation_rules/test_spin.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint

fix: validate list-only recoil systems in YAML (ComPWA/expertsystem#320)
  expertsystem/schemas/yaml/amplitude-model.json
Due: none
