Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --score=no
  language: system

fix: use same syntax in set_ranges and set_values
  docs/usage/iplot/__init__.py
  docs/usage/iplot/test_iplot.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: rename iplot to symplot
  .cspell.json
  docs/conf.py
  docs/usage/interactive.ipynb
  docs/usage/symplot.md
  docs/usage/symplot/__init__.py
  docs/usage/symplot/test_ipywidgets.py
  docs/usage/symplot/test_symplot.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

feat: implement SliderKwargs in documentation
  .cspell.json
  docs/conf.py
  docs/usage/interactive.ipynb
  docs/usage/iplot/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: merge save and show cells for animation
  docs/usage/interactive.ipynb
Due: nbstripout

feat: extract prepare_sliders facade functions
  .cspell.json
  docs/usage/interactive.ipynb
  docs/usage/symplot.ipynb
  docs/usage/symplot.md
  docs/usage/symplot/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: add ipywidgets as test dependency
  setup.cfg
Due: none

ci: upgrade developer dependencies (automatic)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
Due: none

fix: run tests only over symplot
  pytest.ini
Due: none

fix: show output of gif
  docs/usage/interactive.ipynb
Due: nbstripout

docs: render animation in symplot examples
  .cspell.json
  docs/usage/symplot.ipynb
Due: nbstripout

docs: explain symplot examples
  docs/usage/symplot.ipynb
Due: nbstripout

docs: extract interactive plotting to symplot module (#38)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .cspell.json
  .mypy.ini
  README.md
  docs/conf.py
  docs/usage/interactive.ipynb
  docs/usage/symplot.ipynb
  docs/usage/symplot/__init__.py
  docs/usage/symplot/test_ipywidgets.py
  docs/usage/symplot/test_symplot.py
  pyrightconfig.json
  pytest.ini
  setup.cfg
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs!: add interactive K-matrix page
  .cspell.json
  docs/bibliography.bib
  docs/index.md
  docs/usage/dynamics.md
  docs/usage/k-matrix.ipynb
Due: nbstripout

docs: link to K-matrix from interactive page
  docs/usage/interactive.ipynb
Due: nbstripout

docs: add references to kwargs in python glossary
  .flake8
  docs/usage/symplot/__init__.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs!: add interactive K-matrix page (#39)
  .cspell.json
  .flake8
  docs/bibliography.bib
  docs/index.md
  docs/usage/dynamics.md
  docs/usage/interactive.ipynb
  docs/usage/k-matrix.ipynb
  docs/usage/symplot/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: import lineshapes where they are used
  docs/usage/dynamics/lineshapes.ipynb
Due: nbstripout

refactor: use z as argument of Blatt-Weisskopf
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/k-matrix.ipynb
  src/ampform/dynamics/builder.py
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor: swap z and angular momentum
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/k-matrix.ipynb
  src/ampform/dynamics/builder.py
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: add norecursedirs option to pytest
  pytest.ini
Due: none

refactor: use z as argument of Blatt-Weisskopf (#40)
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/k-matrix.ipynb
  pytest.ini
  src/ampform/dynamics/builder.py
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

refactor: extract dynamics decorators to submodule
  src/ampform/dynamics/decorator.py
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: hide doit, def_assumptions, and evaluate
  docs/conf.py
  src/ampform/dynamics/decorator.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: remove properties from UnevaluatedExprs
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

style: remove L=0 definition
  docs/usage/dynamics/lineshapes.ipynb
Due: nbstripout

docs: add references for break-up momentum
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .flake8
  docs/conf.py
  setup.cfg
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: merge dynamics.lineshape into dynamics
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/k-matrix.ipynb
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/builder.py
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: improve docstrings of dynamics.builder
  src/ampform/dynamics/builder.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: improve API of dynamics module (#41)
  .constraints/py3.6.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .flake8
  docs/conf.py
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/k-matrix.ipynb
  setup.cfg
  src/ampform/dynamics/__init__.py
  src/ampform/dynamics/builder.py
  src/ampform/dynamics/decorator.py
  src/ampform/dynamics/lineshape.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: remove myst-nb glue cells
  .flake8
  docs/conf.py
  docs/extend_docstrings.py
  docs/usage/dynamics/lineshapes.ipynb
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: avoid running conf.py through pytest
  pytest.ini
Due: none

docs: remove myst-nb glue cells (#42)
  .flake8
  docs/conf.py
  docs/extend_docstrings.py
  docs/usage/dynamics/lineshapes.ipynb
  pytest.ini
  src/ampform/dynamics/__init__.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

docs: remove brackets from parenthetical citations
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: render latex of break-up momentum
  docs/extend_docstrings.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: simplify latex of rel BW with ff using q(m)
  docs/extend_docstrings.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: render rel BW with ff for general L
  docs/extend_docstrings.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: improve math in dynamics API (#43)
  docs/extend_docstrings.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs!: abbreviate annotations in API
  docs/abbreviate_signature.py
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

chore: remove redundant nitpick_ignores
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

docs: add option to insert signature linebreaks
  docs/_static/linebreaks-api.css
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbstripout: any of: \.ipynb$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
