Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, pydocstyle, pylint, rstcheck

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy --config-file=tox.ini
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

pylint:
  name: pylint
  entry: pylint --rcfile=.pylintrc --score=no
  language: system

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system

ci: fix setuptools-scm deploy (ComPWA/expertsystem#114)
  .travis.yml
  pyproject.toml
  setup.cfg
  setup.py
Due: flake8, mypy, pydocstyle, pylint

fix: add copy button, faulty links, and doc8 (ComPWA/expertsystem#115)
  .travis.yml
  CONTRIBUTING.md
  doc/conf.py
  doc/contribute.rst
  pyproject.toml
  setup.cfg
Due: flake8, mypy, pydocstyle, pylint, rstcheck

docs: add Binder for QuickStart (ComPWA/expertsystem#116)
  README.md
  doc/index.rst
  doc/usage.rst
  examples/quick_start.ipynb
Due: rstcheck

docs: use git clone over HTTP (ComPWA/expertsystem#117)
  doc/contribute.rst
  doc/install.rst
Due: rstcheck

feat: serialize particle.DATABASE from/to YAML (ComPWA/expertsystem#118)
  .gitignore
  .vscode/settings.json
  README.md
  cspell.json
  doc/conf.py
  doc/index.rst
  doc/usage.rst
  examples/additional_particles.yml
  examples/particles.ipynb
  examples/quickstart.ipynb
  expertsystem/state/particle.py
  expertsystem/ui/system_control.py
  tests/amplitude/test_parity_prefactor.py
  tests/state/__init__.py
  tests/state/conservation_rules/__init__.py
  tests/state/conservation_rules/test_cparity.py
  tests/state/conservation_rules/test_gparity.py
  tests/state/conservation_rules/test_mass.py
  tests/state/conservation_rules/test_spin.py
  tests/state/test_particle.py
Due: flake8, mypy, pydocstyle, pylint, rstcheck

refactor!: hide UI implementation details (ComPWA/expertsystem#120)
  examples/particles.ipynb
  examples/quickstart.ipynb
  expertsystem/state/particle.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_default_settings.py
  expertsystem/ui/_system_control.py
  tests/amplitude/test_parity_prefactor.py
  tests/amplitude/test_yaml_canonical.py
  tests/amplitude/test_yaml_helicity.py
  tests/canonical_formalism/test_ls_coupling.py
  tests/channels/test_d0_to_kskpkm.py
  tests/channels/test_jpsi_to_gammapi0pi0.py
  tests/channels/test_nbody_reactions.py
  tests/channels/test_y_to_d0d0barpi0pi0.py
  tests/state/test_particle.py
  tests/ui/test_systemcontrol.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint

feat: write amplitude model from STM (ComPWA/expertsystem#121)
  examples/quickstart.ipynb
  expertsystem/ui/__init__.py
  tests/amplitude/test_parity_prefactor.py
  tests/amplitude/test_yaml_canonical.py
  tests/amplitude/test_yaml_helicity.py
  tests/canonical_formalism/test_ls_coupling.py
  tests/channels/test_d0_to_kskpkm.py
  tests/channels/test_jpsi_to_gammapi0pi0.py
  tests/channels/test_nbody_reactions.py
  tests/channels/test_y_to_d0d0barpi0pi0.py
  tests/ui/test_systemcontrol.py
Due: flake8, mypy, pydocstyle, pylint

refactor!: ParticleCollection -> DATABASE (ComPWA/expertsystem#110)
  expertsystem/amplitude/_yaml_adapter.py
  expertsystem/amplitude/helicity_decay.py
  expertsystem/data.py
  expertsystem/io/xml/_build.py
  expertsystem/io/xml/_dump.py
  expertsystem/io/yaml/_build.py
  expertsystem/io/yaml/_dump.py
  expertsystem/particle_list.xml
  expertsystem/schemas/yaml/particle-list.json
  expertsystem/state/particle.py
  tests/amplitude/expected_recipe.yml
  tests/amplitude/test_yaml_helicity.py
  tests/io/test_particle_collection.py
  tests/state/test_particle.py
Due: flake8, mypy, pydocstyle, pylint

refactor!: remove MeasuredValue (ComPWA/expertsystem#125)
  .gitignore
  expertsystem/amplitude/_yaml_adapter.py
  expertsystem/data.py
  expertsystem/io/xml/_build.py
  expertsystem/io/xml/_dump.py
  expertsystem/io/yaml/_build.py
  expertsystem/io/yaml/_dump.py
  expertsystem/particle_list.xml
  expertsystem/particle_list.yml
  expertsystem/schemas/yaml/particle-list.json
  tests/.gitignore
  tests/amplitude/expected_recipe.yml
  tests/data/test_particle.py
  tests/io/test_particle_collection.py
Due: flake8, mypy, pydocstyle, pylint

fix: remove particle database reset (ComPWA/expertsystem#136)
  expertsystem/ui/__init__.py
Due: flake8, mypy, pydocstyle, pylint

refactor: merge data and particle Spin classes (ComPWA/expertsystem#139)
  expertsystem/amplitude/canonical_decay.py
  expertsystem/data.py
  expertsystem/state/conservation_rules.py
  expertsystem/state/particle.py
  expertsystem/state/propagation.py
  tests/canonical_formalism/test_ls_coupling.py
  tests/state/conservation_rules/test_cparity.py
  tests/state/conservation_rules/test_gparity.py
  tests/state/conservation_rules/test_spin.py
Due: flake8, mypy, pydocstyle, pylint

ci!: fix check typing in tests (ComPWA/expertsystem#145)
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  expertsystem/__init__.py
  setup.cfg
  tests/data/test_particle.py
  tests/state/conservation_rules/test_cparity.py
  tests/state/conservation_rules/test_gparity.py
  tests/state/conservation_rules/test_mass.py
  tests/state/conservation_rules/test_spin.py
  tests/state/test_particle.py
  tests/ui/test_systemcontrol.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint

ci: add PR title check (ComPWA/expertsystem#137)
  .github/workflows/pr-name.yml
  .gitignore
Due: none

ci: fix missing commitlint config (ComPWA/expertsystem#148)
  commitlint.config.js
  cspell.json
Due: none

feat: add type hints topology module (ComPWA/expertsystem#147)
  expertsystem/data.py
  expertsystem/topology/graph.py
  expertsystem/topology/topology_builder.py
  setup.cfg
  tests/data/test_particle.py
Due: flake8, mypy, pydocstyle, pylint

feat: define quantum state interfaces (ComPWA/expertsystem#135)
  .pylintrc
  .travis.yml
  README.md
  cspell.json
  doc/conf.py
  doc/index.rst
  environment.yml
  expertsystem/__init__.py
  expertsystem/data.py
  expertsystem/io/xml/__init__.py
  expertsystem/io/xml/_build.py
  expertsystem/io/xml/_dump.py
  expertsystem/io/yaml/__init__.py
  expertsystem/io/yaml/_build.py
  expertsystem/io/yaml/_dump.py
  pyproject.toml
  setup.cfg
  tests/data/test_particle.py
  tests/io/test_particle_collection.py
Due: flake8, mypy, pydocstyle, pylint, rstcheck

refactor!: make DATABASE a ParticleCollect (ComPWA/expertsystem#151)
  examples/particles.ipynb
  examples/quickstart.ipynb
  expertsystem/data.py
  expertsystem/state/particle.py
  expertsystem/topology/graph.py
  expertsystem/ui/_default_settings.py
  setup.cfg
  tests/io/test_particle_collection.py
  tests/state/test_particle.py
Due: flake8, mypy, pydocstyle, pylint

refactor: use generic dataclass as QuantumState (ComPWA/expertsystem#153)
  expertsystem/data.py
  expertsystem/io/xml/_build.py
  expertsystem/io/yaml/_build.py
  tests/data/test_particle.py
  tests/data/test_states.py
  tests/io/test_particle_collection.py
Due: flake8, mypy, pydocstyle, pylint

ci: import current GitHub issue labels (ComPWA/expertsystem#159)
  labels.toml
  setup.cfg
Due: none

ci: add PR label check (ComPWA/expertsystem#160)
  .github/workflows/pr-linting.yml
  .github/workflows/pr-name.yml
  labels.toml
Due: none

ci!: migrate to GitHub workflow (ComPWA/expertsystem#161)
  .github/workflows/ci.yml
  .github/workflows/pypi.yml
  .gitignore
  .travis.yml
  .vscode/settings.json
  README.md
  cspell.json
  doc/conf.py
  doc/index.rst
Due: flake8, mypy, pydocstyle, pylint, rstcheck

refactor: move recipe Magnitude and Phase up (ComPWA/expertsystem#154)
  .github/workflows/ci.yml
  expertsystem/amplitude/_yaml_adapter.py
  expertsystem/schemas/yaml/amplitude-model.json
Due: flake8, mypy, pydocstyle, pylint

ci: update contribute page (ComPWA/expertsystem#162)
  README.md
  doc/contribute.rst
  doc/index.rst
Due: rstcheck

fix: repair deploy job (ComPWA/expertsystem#163)
  .github/workflows/pypi.yml
Due: none

ci: increase minimal test coverage (ComPWA/expertsystem#164)
  .github/workflows/ci.yml
  .github/workflows/linkcheck.yml
  .pre-commit-config.yaml
  codecov.yml
  tests/channels/test_d0_to_kskpkm.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint

feat: add ComplexEnergyState adapter (ComPWA/expertsystem#176)
  expertsystem/io/xml/__init__.py
  expertsystem/io/xml/_dump.py
  tests/io/test_xml_adapters.py
Due: flake8, mypy, pydocstyle, pylint

feat: implement Parity/Spin.__neg__ operator (ComPWA/expertsystem#180)
  expertsystem/data.py
  tests/data/test_particle.py
Due: flake8, mypy, pydocstyle, pylint

feat: print overwrite warning ParticleCollection (ComPWA/expertsystem#183)
  expertsystem/data.py
Due: flake8, mypy, pydocstyle, pylint

test!: switch to branch coverage (ComPWA/expertsystem#184)
  .gitignore
  .vscode/settings.json
  codecov.yml
  tox.ini
Due: none

ci: implement markdownlint (ComPWA/expertsystem#186)
  .github/workflows/ci.yml
  .markdownlint.json
  .vscode/extensions.json
  README.md
  doc/index.rst
Due: rstcheck

feat: add Particle builder façades (ComPWA/expertsystem#181)
  cspell.json
  examples/particles.ipynb
  examples/quickstart.ipynb
  expertsystem/state/particle.py
  tests/state/test_particle.py
Due: flake8, mypy, pydocstyle, pylint

docs: categorize badges + add mypy badge (ComPWA/expertsystem#187)
  README.md
  cspell.json
  doc/index.rst
  doc/mypy_badge.svg
Due: rstcheck

ci: remove mypy module ignores (ComPWA/expertsystem#191)
  expertsystem/amplitude/abstract_generator.py
  expertsystem/state/particle.py
  setup.cfg
  tests/state/test_particle.py
Due: flake8, mypy, pydocstyle, pylint

test: validate expected_recipe.yml (ComPWA/expertsystem#192)
  .markdownlint.json
  README.md
  expertsystem/amplitude/_yaml_adapter.py
  tests/amplitude/expected_recipe.yml
  tests/amplitude/test_yaml_helicity.py
  tests/io/test_internal_dict.py
Due: flake8, mypy, pydocstyle, pylint

fix!: distinguish isospin 0 and None (ComPWA/expertsystem#193)
  expertsystem/io/xml/_build.py
  expertsystem/io/xml/_dump.py
  expertsystem/io/yaml/_build.py
  expertsystem/io/yaml/_dump.py
  expertsystem/particle_list.xml
  expertsystem/particle_list.yml
  tests/amplitude/expected_recipe.yml
  tests/io/test_particle_collection.py
Due: flake8, mypy, pydocstyle, pylint

refactor: replace K0S/K0L with K0/K0bar (ComPWA/expertsystem#201)
  expertsystem/particle_list.xml
  expertsystem/particle_list.yml
  tests/channels/test_d0_to_kskpkm.py
  tests/channels/test_nbody_reactions.py
Due: flake8, mypy, pydocstyle, pylint

fix!: update PDG values in particle_list (ComPWA/expertsystem#202)
  .pre-commit-config.yaml
  cspell.json
  expertsystem/data.py
  expertsystem/particle_list.xml
  expertsystem/particle_list.yml
  tests/amplitude/expected_recipe.yml
  tests/amplitude/test_yaml_canonical.py
  tests/amplitude/test_yaml_helicity.py
  tests/channels/test_d0_to_ks_kp_km.py
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
  tests/channels/test_nbody_reactions.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/data/test_particle.py
  tests/io/test_particle_collection.py
  tests/state/conservation_rules/test_c_parity.py
  tests/state/conservation_rules/test_g_parity.py
  tests/state/test_particle.py
  tests/topology_builder/test_simple_state_builder.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint

test: implement fixtures for relevant tests (ComPWA/expertsystem#208)
  tests/amplitude/test_yaml_canonical.py
  tests/amplitude/test_yaml_helicity.py
  tests/state/test_particle.py
Due: flake8, mypy, pydocstyle, pylint

ci: check numpy typing (ComPWA/expertsystem#204)
  expertsystem/state/particle.py
  setup.cfg
Due: flake8, mypy, pydocstyle, pylint

ci: improve DX with Jupyter Lab (ComPWA/expertsystem#214)
  cspell.json
  doc/contribute.rst
  examples/particles.ipynb
  setup.cfg
Due: rstcheck

Path conditions:
  flake8: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
  rstcheck: any of: \.(inc|rst)$
