Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, isort, mypy, pydocstyle, pylint, rstcheck

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

pylint:
  name: pylint
  entry: pylint --rcfile=.pylintrc --score=no
  language: system

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system

docs: visualize module dependencies (ComPWA/expertsystem#324)
  cspell.json
  doc/.gitignore
  doc/conf.py
  doc/index.rst
  setup.cfg
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

ci: remove conda-forge channel (ComPWA/expertsystem#323)
  environment.yml
Due: none

feat: implement ParticleCollection.names (ComPWA/expertsystem#327)
  doc/interactive.rst
  examples/particles.ipynb
  examples/quickstart.ipynb
  expertsystem/particle.py
  tests/unit/test_particles.py
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

refactor!: merge ui into reaction and amplitude (ComPWA/expertsystem#326)
  doc/conf.py
  doc/index.rst
  examples/particles.ipynb
  examples/quickstart.ipynb
  examples/visualization.ipynb
  expertsystem/__init__.py
  expertsystem/amplitude/__init__.py
  expertsystem/io/_xml/__init__.py
  expertsystem/io/_yaml/__init__.py
  expertsystem/reaction/__init__.py
  expertsystem/reaction/_default_settings.py
  expertsystem/reaction/_system_control.py
  expertsystem/reaction/solving.py
  expertsystem/ui/__init__.py
  tests/channels/test_d0_to_ks_kp_km.py
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
  tests/channels/test_nbody_reactions.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/conftest.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/conftest.py
  tests/unit/reaction/test_system_control.py
  tests/unit/test_reaction.py
  tests/unit/ui/__init__.py
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

fix!: allow only EM on nodes with gamma (ComPWA/expertsystem#329)
  expertsystem/reaction/_system_control.py
  tests/channels/test_nbody_reactions.py
Due: flake8, isort, mypy, pydocstyle, pylint

feat: move getter methods to Result (ComPWA/expertsystem#328)
  examples/quickstart.ipynb
  expertsystem/amplitude/__init__.py
  expertsystem/amplitude/helicity_decay.py
  expertsystem/reaction/__init__.py
  expertsystem/reaction/solving.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/conftest.py
  tests/unit/io/test_dot.py
  tests/unit/reaction/test_solving.py
  tests/unit/test_reaction.py
Due: flake8, isort, mypy, pydocstyle, pylint

fix: typo warning message existing PID (ComPWA/expertsystem#330)
  expertsystem/particle.py
Due: flake8, isort, mypy, pydocstyle, pylint

fix: PreFactor requirements YAML validation (ComPWA/expertsystem#332)
  expertsystem/schemas/yaml/amplitude-model.json
Due: none

feat: raise exception no intermediate particles (ComPWA/expertsystem#334)
  expertsystem/reaction/__init__.py
  tests/unit/test_reaction.py
Due: flake8, isort, mypy, pydocstyle, pylint

refactor!: improve Rule argument handling code (ComPWA/expertsystem#331)
  .gitignore
  cspell.json
  doc/conf.py
  expertsystem/reaction/_default_settings.py
  expertsystem/reaction/argument_handling.py
  expertsystem/reaction/conservation_rules.py
  expertsystem/reaction/quantum_numbers.py
  expertsystem/reaction/solving.py
  pyproject.toml
  setup.cfg
  tests/channels/test_nbody_reactions.py
  tests/unit/reaction/conservation_rules/test_additive_qn.py
  tests/unit/reaction/conservation_rules/test_c_parity.py
  tests/unit/reaction/conservation_rules/test_g_parity.py
  tests/unit/reaction/conservation_rules/test_spin.py
Due: flake8, isort, mypy, pydocstyle, pylint

fix: sort ParticleColl. getitem candidates by mass (ComPWA/expertsystem#340)
  expertsystem/particle.py
  tests/unit/test_particles.py
Due: flake8, isort, mypy, pydocstyle, pylint

fix: move examples to doc/usage (ComPWA/expertsystem#346)
  README.md
  doc/.gitignore
  doc/conf.py
  doc/contribute.rst
  doc/index.rst
  doc/usage/additional_particles.yml
  doc/usage/particles.ipynb
  doc/usage/quickstart.ipynb
  doc/usage/visualization.ipynb
  setup.cfg
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

fix: replace progress bar with tqdm (ComPWA/expertsystem#348)
  cspell.json
  expertsystem/reaction/__init__.py
  setup.cfg
  tox.ini
Due: flake8, isort, mypy, pydocstyle, pylint

feat: automatically determine number of cores (ComPWA/expertsystem#339)
  expertsystem/reaction/__init__.py
Due: flake8, isort, mypy, pydocstyle, pylint

ci: extract tox coverage job (ComPWA/expertsystem#349)
  .editorconfig
  .github/workflows/ci.yml
  .github/workflows/linkcheck.yml
  doc/Makefile
  doc/conf.py
  doc/contribute.rst
  setup.cfg
  tox.ini
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

feat: implement Result.get_particle_graphs (ComPWA/expertsystem#336)
  .vscode/settings.json
  doc/usage/quickstart.ipynb
  doc/usage/visualization.ipynb
  expertsystem/io/__init__.py
  expertsystem/io/_dot.py
  expertsystem/reaction/solving.py
  expertsystem/reaction/topology.py
  tests/unit/io/test_dot.py
  tests/unit/reaction/test_solving.py
Due: flake8, isort, mypy, pydocstyle, pylint

feat: visualize collapsed graphs (ComPWA/expertsystem#341)
  doc/usage/visualization.ipynb
  expertsystem/io/_dot.py
  expertsystem/reaction/solving.py
  tests/unit/io/test_dot.py
  tests/unit/reaction/test_solving.py
Due: flake8, isort, mypy, pydocstyle, pylint

docs: hide logs from example pages (ComPWA/expertsystem#350)
  cspell.json
  doc/usage/particles.ipynb
  doc/usage/quickstart.ipynb
  doc/usage/visualization.ipynb
Due: none

feat!: provide main façade functions (ComPWA/expertsystem#274)
  cspell.json
  doc/interactive.rst
  doc/usage.ipynb
  doc/usage.rst
  doc/usage/particles.ipynb
  doc/usage/visualization.ipynb
  doc/usage/workflow.ipynb
  expertsystem/__init__.py
  expertsystem/amplitude/__init__.py
  expertsystem/reaction/__init__.py
  setup.cfg
  tests/channels/test_d0_to_ks_kp_km.py
  tests/unit/conftest.py
  tests/unit/test_reaction.py
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

docs: upgrade to Sphinx Book Theme 0.0.38 (ComPWA/expertsystem#351)
  README.md
  doc/conf.py
  doc/contribute.rst
  doc/index.rst
  doc/interactive.rst
  doc/usage.ipynb
  doc/usage/particles.ipynb
  doc/usage/visualization.ipynb
  doc/usage/workflow.ipynb
  environment.yml
  expertsystem/__init__.py
  setup.cfg
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

docs: add install cells for Colab (ComPWA/expertsystem#347)
  README.md
  cspell.json
  doc/conf.py
  doc/usage.ipynb
  doc/usage/particles.ipynb
  doc/usage/visualization.ipynb
  doc/usage/workflow.ipynb
  environment.yml
Due: flake8, isort, mypy, pydocstyle, pylint

test!: clean up channel tests with facades (ComPWA/expertsystem#352)
  expertsystem/reaction/__init__.py
  tests/channels/test_d0_to_ks_kp_km.py
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
Due: flake8, isort, mypy, pydocstyle, pylint

fix: correctly set facade docstrings (ComPWA/expertsystem#353)
  .pre-commit-config.yaml
  doc/usage/particles.ipynb
  doc/usage/workflow.ipynb
  expertsystem/__init__.py
Due: flake8, isort, mypy, pydocstyle, pylint

ci: run Y → DDππ in master branch (ComPWA/expertsystem#354)
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/amplitude/test_parity_prefactor.py
Due: flake8, isort, mypy, pydocstyle, pylint

test: write test output to subfolder (ComPWA/expertsystem#357)
  cspell.json
  test/channels/test_d0_to_ks_kp_km.py
  test/conftest.py
  test/output/.gitkeep
  test/unit/amplitude/test_io.py
  test/unit/amplitude/test_parity_prefactor.py
  test/unit/amplitude/test_yaml_canonical.py
  test/unit/amplitude/test_yaml_helicity.py
  test/unit/io/test_dot.py
  test/unit/io/test_particle_list.py
Due: flake8, isort, mypy, pydocstyle, pylint

ci: run tests in parallel (ComPWA/expertsystem#358)
  .github/workflows/ci.yml
  doc/contribute.rst
  setup.cfg
  test/conftest.py
  test/unit/amplitude/test_yaml_canonical.py
  test/unit/amplitude/test_yaml_helicity.py
  test/unit/conftest.py
  test/unit/io/test_particle_list.py
  test/unit/io/test_pdg.py
  test/unit/reaction/test_combinatorics.py
  test/unit/reaction/test_topology.py
  tox.ini
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

ci: generate RTD noteboook output on PR preview (ComPWA/expertsystem#359)
  .gitignore
  doc/conf.py
Due: flake8, isort, mypy, pydocstyle, pylint

ci!: push to stable branch upon release (ComPWA/expertsystem#360)
  .github/workflows/cd.yml
  .github/workflows/pypi.yml
  README.md
  doc/conf.py
  doc/usage.ipynb
  doc/usage/particles.ipynb
  doc/usage/visualization.ipynb
  doc/usage/workflow.ipynb
  pyproject.toml
  src/expertsystem/io/__init__.py
  src/expertsystem/schemas/xml/particle-list.json
  src/expertsystem/schemas/xml/particle.json
  test/channels/test_y_to_d0_d0bar_pi0_pi0.py
Due: flake8, isort, mypy, pydocstyle, pylint

docs: improve rendering of the examples (ComPWA/expertsystem#361)
  doc/_templates/genindex.html
  doc/conf.py
  doc/interactive.rst
  doc/usage.ipynb
  doc/usage/workflow.ipynb
  setup.cfg
  src/expertsystem/__init__.py
  src/expertsystem/amplitude/canonical_decay.py
  src/expertsystem/particle.py
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/conservation_rules.py
  tox.ini
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

docs!: switch to MyST-NB (ComPWA/expertsystem#362)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .markdownlint.json
  .vscode/extensions.json
  cspell.json
  doc/conf.py
  doc/contribute.rst
  doc/index.md
  doc/index.rst
  doc/interactive.ipynb
  doc/interactive.rst
  doc/usage.ipynb
  doc/usage/particles.ipynb
  doc/usage/visualization.ipynb
  doc/usage/workflow.ipynb
  setup.cfg
  tox.ini
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

docs: simplify installation procedure (ComPWA/expertsystem#364)
  .github/workflows/cd.yml
  README.md
  docs/api.rst
  docs/conf.py
  docs/contribute.rst
  docs/install.rst
  docs/interactive.ipynb
  docs/usage/particles.ipynb
  setup.cfg
  setup.py
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

ci: upgrade dev tools (ComPWA/expertsystem#365)
  .pre-commit-config.yaml
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  cspell.json
  docs/conf.py
  docs/develop.rst
  docs/index.md
  docs/install.rst
  docs/usage/particles.ipynb
  setup.cfg
  src/expertsystem/reaction/_system_control.py
  tests/__init__.py
  tests/channels/__init__.py
  tests/unit/__init__.py
  tests/unit/amplitude/__init__.py
  tests/unit/io/__init__.py
  tests/unit/reaction/__init__.py
  tests/unit/reaction/conservation_rules/__init__.py
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

fix: update tqdm, tensorwaves links, vscode pytest (ComPWA/expertsystem#370)
  .vscode/settings.json
  README.md
  docs/conf.py
  docs/install.rst
  docs/mypy_badge.svg
  environment.yml
  src/expertsystem/reaction/__init__.py
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

fix: use defaultdict in convert_to_names (ComPWA/expertsystem#371)
  docs/conf.py
  src/expertsystem/reaction/solving.py
Due: flake8, isort, mypy, pydocstyle, pylint

feat: support pure edge and node rules in solving (ComPWA/expertsystem#368)
  docs/usage/workflow.ipynb
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/_default_settings.py
  src/expertsystem/reaction/argument_handling.py
  src/expertsystem/reaction/conservation_rules.py
  src/expertsystem/reaction/solving.py
  tests/channels/test_nbody_reactions.py
Due: flake8, isort, mypy, pydocstyle, pylint

feat: add reaction violation checker (ComPWA/expertsystem#373)
  docs/interactive.ipynb
  src/expertsystem/__init__.py
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/solving.py
  tests/channels/test_nbody_reactions.py
  tests/unit/test_reaction.py
Due: flake8, isort, mypy, pydocstyle, pylint

docs: upgrade to 0.39 (ComPWA/expertsystem#375)
  docs/conf.py
  docs/develop.rst
  docs/index.md
  setup.cfg
Due: flake8, isort, mypy, pydocstyle, pylint, rstcheck

fix: clebsch gordan helicity to canonical rule (ComPWA/expertsystem#376)
  src/expertsystem/reaction/conservation_rules.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/reaction/conservation_rules/test_clebsch_gordan.py
  tests/unit/reaction/conservation_rules/test_spin.py
Due: flake8, isort, mypy, pydocstyle, pylint

Path conditions:
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
  rstcheck: any of: \.(inc|rst)$
