Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            cspell.json|
            .*\.bib|
            .*\.svg
          )$
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 0.5.9
    hooks:
      - id: nbqa-black
        args: [--nbqa-mutate]
      - id: nbqa-flake8
        args: ["--extend-ignore=E402,F821"]
      - id: nbqa-isort
        args: [--nbqa-mutate]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        language_version: 12.18.2 # prettier does not specify node correctly

  # The following tools have to be install locally, because they can also be
  # used by code editors (e.g. linting and format-on-save).

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types:
          - python

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python

      - id: isort
        name: isort
        entry: isort
        language: system
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types:
          - python

      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: system
        types:
          - jupyter

      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types:
          - python

      - id: pylint
        name: pylint
        entry: pylint
        args:
          - --rcfile=.pylintrc
          - --score=no
        language: system
        types:
          - python

docs: add changelog link to releases (ComPWA/expertsystem#539)
  .github/workflows/requirements-cron.yml
  .github/workflows/requirements-pr.yml
  docs/index.md
Due: none

feat: render spin in dot as fraction (ComPWA/expertsystem#540)
  docs/usage/visualize.ipynb
  src/expertsystem/io/_dot.py
  tests/unit/io/test_dot.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: avoid cell magic in colab cell (ComPWA/expertsystem#541)
  .pre-commit-config.yaml
  .pre-commit-hooks/fix_first_nbcell.py
  docs/usage.ipynb
  docs/usage/amplitude.ipynb
  docs/usage/dynamics/custom.ipynb
  docs/usage/dynamics/lineshapes.ipynb
  docs/usage/particle.ipynb
  docs/usage/reaction.ipynb
  docs/usage/visualize.ipynb
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

ci: upload test output as artifact (ComPWA/expertsystem#542)
  .github/workflows/ci.yml
Due: none

refactor: decorate Parity and Spin with attrs (ComPWA/expertsystem#543)
  src/expertsystem/particle/__init__.py
  src/expertsystem/reaction/_system_control.py
  tests/unit/particle/test_particle.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

feat: add Particle argument converters (ComPWA/expertsystem#544)
  docs/usage/particle.ipynb
  src/expertsystem/particle/__init__.py
  tests/unit/particle/test_particle.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

feat: implement pretty reprs for particle classes (ComPWA/expertsystem#545)
  .pylintrc
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-extras.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-extras.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-extras.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-extras.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/3.9/requirements.txt
  reqs/requirements-test.in
  setup.cfg
  src/expertsystem/io/_dot.py
  src/expertsystem/particle/__init__.py
  tests/unit/io/test_dot.py
  tests/unit/particle/test_particle.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

feat: allow hiding initial state and resonance ids (ComPWA/expertsystem#546)
  docs/usage.ipynb
  docs/usage/visualize.ipynb
  src/expertsystem/io/__init__.py
  src/expertsystem/io/_dot.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: improve ParticleCollection.find exception (ComPWA/expertsystem#547)
  src/expertsystem/particle/__init__.py
  tests/unit/particle/test_particle.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci!: run cspell as pre-commit hook (ComPWA/expertsystem#548)
  .github/release-drafter.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  tox.ini
Due: none

ci: upgrade developer dependencies (ComPWA/expertsystem#549)
  .gitignore
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-sty.txt
Due: none

ci: use pre-commit hooks from ComPWA/meta (ComPWA/expertsystem#550)
  .pre-commit-config.yaml
  .pre-commit-hooks/fix_first_nbcell.py
  .pre-commit-hooks/fix_nbformat_version.py
  cspell.json
Due: black, flake8, isort, mypy, pydocstyle, pylint

refactor: use GellMann-Nishijima rule in particle mod (ComPWA/expertsystem#552)
  docs/usage/particle.ipynb
  src/expertsystem/amplitude/_graph_info.py
  src/expertsystem/amplitude/helicity.py
  src/expertsystem/amplitude/kinematics.py
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/_system_control.py
  src/expertsystem/reaction/combinatorics.py
  src/expertsystem/reaction/conservation_rules.py
  src/expertsystem/reaction/particle.py
  src/expertsystem/reaction/quantum_numbers.py
  tests/unit/amplitude/dynamics/test_angular_momentum.py
  tests/unit/reaction/test_particle.py
  tests/unit/reaction/test_quantum_numbers.py
Due: black, flake8, isort, mypy, nbstripout, pydocstyle, pylint

fix: unconstrain _ElementType and unpin Pyright (ComPWA/expertsystem#554)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  src/expertsystem/reaction/argument_handling.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

feat: add converters for Edge/NodeInput classes (ComPWA/expertsystem#555)
  src/expertsystem/amplitude/_graph_info.py
  src/expertsystem/amplitude/helicity.py
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/_system_control.py
  src/expertsystem/reaction/argument_handling.py
  src/expertsystem/reaction/conservation_rules.py
  src/expertsystem/reaction/particle.py
  tests/unit/amplitude/dynamics/test_angular_momentum.py
  tests/unit/reaction/conservation_rules/test_c_parity.py
  tests/unit/reaction/conservation_rules/test_duck_typing.py
  tests/unit/reaction/conservation_rules/test_g_parity.py
  tests/unit/reaction/conservation_rules/test_gellmann_nishijima.py
  tests/unit/reaction/conservation_rules/test_helicity_conservation.py
  tests/unit/reaction/conservation_rules/test_identical_particle_symmetrization.py
  tests/unit/reaction/conservation_rules/test_mass.py
  tests/unit/reaction/conservation_rules/test_parity_conservation.py
  tests/unit/reaction/conservation_rules/test_spin.py
  tests/unit/reaction/test_quantum_numbers.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

ci: upgrade developer dependencies (ComPWA/expertsystem#556)
  .pre-commit-config.yaml
  .vscode/extensions.json
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-extras.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-extras.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/requirements-doc.in
Due: none

chore: rename master branch to main
  .github/workflows/ci.yml
  .github/workflows/linkcheck.yml
  .github/workflows/release-drafter.yml
  .github/workflows/requirements-pr.yml
  README.md
  docs/index.md
  docs/install.md
Due: none

refactor: extract transition sub-module (ComPWA/expertsystem#557)
  src/expertsystem/amplitude/_graph_info.py
  src/expertsystem/amplitude/kinematics.py
  src/expertsystem/io/__init__.py
  src/expertsystem/io/_dict.py
  src/expertsystem/io/_dot.py
  src/expertsystem/reaction/__init__.py
  src/expertsystem/reaction/transition.py
  tests/unit/amplitude/test_graph_info.py
  tests/unit/io/test_io.py
  tests/unit/reaction/test_transition.py
  tests/unit/test_reaction.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: link to codacy
  docs/index.md
Due: none

fix: link to codacy (#2)
  docs/index.md
Due: none

docs: add link to original project
  docs/index.md
Due: none

docs: add link to original project (#11)
  docs/index.md
Due: none

ci: fail RTD on warning
  .readthedocs.yml
Due: none

fix: install graphviz in doc dependencies
  cspell.json
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-extras.txt
  reqs/3.8/requirements.txt
  reqs/requirements-doc.in
  setup.cfg
Due: none

fix: label for PWA Expert System
  docs/index.md
Due: none

ci: upgrade developer dependencies (automatic)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-extras.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-extras.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-extras.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/3.9/requirements.txt
Due: none

ci: upgrade developer dependencies (automatic)
  reqs/3.6/requirements-extras.txt
  reqs/3.9/requirements-doc.txt
Due: none

fix: pin package requirements as well
  reqs/requirements-dev.in
  reqs/requirements-doc.in
  reqs/requirements-sty.in
  reqs/requirements-test.in
Due: none

ci: upgrade developer dependencies (automatic)
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.7/requirements-extras.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
Due: none

ci: upgrade developer dependencies (automatic)
  reqs/3.6/requirements-extras.txt
  reqs/3.6/requirements-test.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-extras.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-test.txt
Due: none

fix: avoid extras_require syntax
  setup.cfg
Due: none

ci: upgrade developer dependencies (automatic)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-extras.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-extras.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-extras.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/3.9/requirements.txt
Due: none

fix: install graphviz in Read the Docs (#12)
  .readthedocs.yml
  cspell.json
  docs/index.md
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-extras.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements-test.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-extras.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements-test.txt
  reqs/3.7/requirements.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-doc.txt
  reqs/3.8/requirements-extras.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.8/requirements-test.txt
  reqs/3.8/requirements.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-extras.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements-test.txt
  reqs/3.9/requirements.txt
  reqs/requirements-dev.in
  reqs/requirements-doc.in
  reqs/requirements-sty.in
  reqs/requirements-test.in
  setup.cfg
Due: none

ci: split ci workflow into sty, docs, and tests
  .github/workflows/ci-docs.yml
  .github/workflows/ci-style.yml
  .github/workflows/ci-tests.yml
Due: none

ci: split ci workflow into sty, docs, and tests (#13)
  .github/workflows/ci-docs.yml
  .github/workflows/ci-style.yml
  .github/workflows/ci-tests.yml
Due: none

docs: add both DOI and url to bibliography
  docs/bibliography.bib
  docs/conf.py
Due: black, flake8, isort, mypy, pydocstyle, pylint

fix: remove language from bibliography
  docs/bibliography.bib
Due: none
