Repository ComPWA/ampform: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, pydocstyle, pylint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: cspell.json
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--django"]
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black

  - repo: https://github.com/kynan/nbstripout
    rev: 0.3.8
    hooks:
      - id: nbstripout
        files: ".ipynb"

  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier
        language_version: 12.18.2 # prettier does not specify node correcly

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy --config-file=tox.ini
        language: system
        types:
          - python

      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types:
          - python

      - id: pylint
        name: pylint
        entry: pylint --rcfile=.pylintrc --score=no
        language: system
        types:
          - python

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: \.(inc|rst)$

test!: separate channel and unit tests (ComPWA/expertsystem#211)
  .gitignore
  doc/conf.py
  doc/install.rst
  tests/amplitude/__init__.py
  tests/amplitude/expected_recipe.yml
  tests/amplitude/test_yaml_canonical.py
  tests/amplitude/test_yaml_helicity.py
  tests/canonical_formalism/__init__.py
  tests/channels/__init__.py
  tests/data/__init__.py
  tests/io/__init__.py
  tests/state/__init__.py
  tests/state/conservation_rules/__init__.py
  tests/topology_builder/__init__.py
  tests/ui/__init__.py
  tests/unit/__init__.py
  tests/unit/amplitude/__init__.py
  tests/unit/amplitude/expected_recipe.yml
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/amplitude/test_yaml_canonical.py
  tests/unit/amplitude/test_yaml_helicity.py
  tests/unit/data/__init__.py
  tests/unit/data/test_particle.py
  tests/unit/data/test_states.py
  tests/unit/io/__init__.py
  tests/unit/io/test_particle_collection.py
  tests/unit/io/test_xml_adapters.py
  tests/unit/state/__init__.py
  tests/unit/state/conservation_rules/__init__.py
  tests/unit/state/conservation_rules/test_c_parity.py
  tests/unit/state/conservation_rules/test_g_parity.py
  tests/unit/state/conservation_rules/test_ls_coupling.py
  tests/unit/state/conservation_rules/test_mass.py
  tests/unit/state/conservation_rules/test_spin.py
  tests/unit/state/test_particle.py
  tests/unit/topology/__init__.py
  tests/unit/topology/test_simple_state_builder.py
  tests/unit/ui/__init__.py
  tests/unit/ui/test_system_control.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint, rstcheck

refactor: use tilde for antiparticles (ComPWA/expertsystem#203)
  cspell.json
  expertsystem/particle_list.xml
  expertsystem/particle_list.yml
  expertsystem/ui/_system_control.py
  tests/channels/test_d0_to_ks_kp_km.py
  tests/channels/test_nbody_reactions.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/state/conservation_rules/test_ls_coupling.py
  tests/unit/state/test_particle.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

refactor: use same particle names as PDG (ComPWA/expertsystem#217)
  examples/particles.ipynb
  examples/quickstart.ipynb
  expertsystem/particle_list.xml
  expertsystem/particle_list.yml
  expertsystem/ui/_system_control.py
  tests/channels/test_d0_to_ks_kp_km.py
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
  tests/channels/test_nbody_reactions.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/amplitude/expected_recipe.yml
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/amplitude/test_yaml_canonical.py
  tests/unit/amplitude/test_yaml_helicity.py
  tests/unit/data/test_particle.py
  tests/unit/io/test_particle_collection.py
  tests/unit/state/conservation_rules/test_ls_coupling.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

test: verify YAML parameters and dynamics (ComPWA/expertsystem#215)
  tests/unit/amplitude/expected_recipe.yml
  tests/unit/amplitude/test_yaml_helicity.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint

refactor!: move create_particle builders to data (ComPWA/expertsystem#212)
  examples/particles.ipynb
  expertsystem/data.py
  expertsystem/state/particle.py
  tests/unit/data/test_particle.py
  tests/unit/io/test_particle_collection.py
  tests/unit/state/test_particle.py
Due: flake8, mypy, pydocstyle, pylint

test: split ParticleCollection tests io/data (ComPWA/expertsystem#218)
  tests/unit/conftest.py
  tests/unit/data/test_particle.py
  tests/unit/data/test_particle_collection.py
  tests/unit/io/test_particle_list.py
Due: flake8, mypy, pydocstyle, pylint

docs!: add type hint links in API (ComPWA/expertsystem#222)
  .readthedocs.yml
  doc/conf.py
  setup.cfg
Due: flake8, mypy, pydocstyle, pylint

refactor: share test solutions with fixture (ComPWA/expertsystem#220)
  tests/unit/amplitude/test_yaml_canonical.py
  tests/unit/amplitude/test_yaml_helicity.py
  tests/unit/conftest.py
Due: flake8, mypy, pydocstyle, pylint

feat: create ParticleCollection from PDG (ComPWA/expertsystem#190)
  examples/particles.ipynb
  expertsystem/data.py
  expertsystem/io/__init__.py
  expertsystem/io/_pdg.py
  expertsystem/io/yaml/_dump.py
  expertsystem/particle_list.xml
  expertsystem/particle_list.yml
  setup.cfg
  tests/unit/amplitude/expected_recipe.yml
  tests/unit/data/test_particle.py
  tests/unit/data/test_particle_collection.py
  tests/unit/io/test_pdg.py
Due: flake8, mypy, pydocstyle, pylint

feat: add topology visualization (ComPWA/expertsystem#216)
  .github/workflows/ci.yml
  .gitignore
  cspell.json
  doc/conf.py
  doc/contribute.rst
  doc/usage.rst
  examples/visualization.ipynb
  expertsystem/io/__init__.py
  expertsystem/io/dot.py
  setup.cfg
  tests/unit/io/test_dot.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint, rstcheck

feat: add type hints to ui module (ComPWA/expertsystem#188)
  expertsystem/state/particle.py
  expertsystem/topology/graph.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_system_control.py
  setup.cfg
  tests/channels/test_d0_to_ks_kp_km.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

fix!: remove faulty print statement (ComPWA/expertsystem#227)
  expertsystem/ui/_system_control.py
Due: flake8, mypy, pydocstyle, pylint

feat!: switch to PDG as source of truth (ComPWA/expertsystem#224)
  .vscode/settings.json
  README.md
  examples/particles.ipynb
  examples/quickstart.ipynb
  examples/visualization.ipynb
  expertsystem/io/xml/_build.py
  expertsystem/io/xml/_dump.py
  expertsystem/particle_list.xml
  expertsystem/schemas/xml/particle.json
  expertsystem/state/conservation_rules.py
  expertsystem/state/particle.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_default_settings.py
  tests/channels/test_d0_to_ks_kp_km.py
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
  tests/channels/test_nbody_reactions.py
  tests/unit/conftest.py
  tests/unit/data/test_particle.py
  tests/unit/data/test_particle_collection.py
  tests/unit/io/test_pdg.py
  tests/unit/state/conservation_rules/test_ls_coupling.py
Due: flake8, mypy, pydocstyle, pylint

test!: add pytest-profiling (ComPWA/expertsystem#228)
  .gitignore
  doc/contribute.rst
  setup.cfg
Due: rstcheck

refactor!: remove particle_list.*ml (ComPWA/expertsystem#225)
  .gitignore
  cspell.json
  expertsystem/additional_particle_definitions.yml
  expertsystem/particle_list.xml
  expertsystem/particle_list.yml
  expertsystem/ui/_default_settings.py
  setup.cfg
  tests/unit/io/test_particle_list.py
  tests/unit/io/test_pdg.py
Due: flake8, mypy, pydocstyle, pylint

feat: check spin magnitude+projection consistency (ComPWA/expertsystem#200)
  expertsystem/data.py
  expertsystem/state/conservation_rules.py
  expertsystem/state/particle.py
  tests/unit/data/test_states.py
  tests/unit/state/conservation_rules/test_c_parity.py
Due: flake8, mypy, pydocstyle, pylint

refactor!: merge topology submodules (ComPWA/expertsystem#229)
  examples/quickstart.ipynb
  expertsystem/amplitude/abstract_generator.py
  expertsystem/amplitude/canonical_decay.py
  expertsystem/amplitude/helicity_decay.py
  expertsystem/io/dot.py
  expertsystem/state/particle.py
  expertsystem/state/propagation.py
  expertsystem/topology.py
  expertsystem/topology/__init__.py
  expertsystem/topology/graph.py
  expertsystem/topology/topology_builder.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_system_control.py
  setup.cfg
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
  tests/unit/topology/test_simple_state_builder.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

feat: add type hints state.particle module (ComPWA/expertsystem#230)
  .pre-commit-config.yaml
  expertsystem/state/particle.py
  setup.cfg
Due: flake8, mypy, pydocstyle, pylint

test: reorganize J/psi to gamma pi0 pi0 (ComPWA/expertsystem#233)
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
Due: flake8, mypy, pydocstyle, pylint

refactor!: define decorate-able Rule interface (ComPWA/expertsystem#194)
  expertsystem/state/conservation_rules.py
  expertsystem/state/propagation.py
  expertsystem/ui/_default_settings.py
  expertsystem/ui/_system_control.py
  tests/unit/state/conservation_rules/test_additive_qn.py
  tests/unit/state/conservation_rules/test_c_parity.py
  tests/unit/state/conservation_rules/test_g_parity.py
  tests/unit/state/conservation_rules/test_ls_coupling.py
  tests/unit/state/conservation_rules/test_mass.py
  tests/unit/state/conservation_rules/test_spin.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint

feat!: visualize list of StateTransitionGraphs (ComPWA/expertsystem#235)
  .gitignore
  .vscode/extensions.json
  examples/visualization.ipynb
  expertsystem/io/dot.py
  expertsystem/state/particle.py
  tests/unit/io/test_dot.py
  tests/unit/topology/test_graph.py
Due: flake8, mypy, pydocstyle, pylint

refactor!: remove particle DATABASE global (ComPWA/expertsystem#236)
  examples/particles.ipynb
  expertsystem/state/particle.py
  expertsystem/state/propagation.py
  expertsystem/ui/__init__.py
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
  tests/channels/test_y_to_d0_d0bar_pi0_pi0.py
  tests/conftest.py
  tests/unit/conftest.py
  tests/unit/data/test_particle_collection.py
  tests/unit/io/test_particle_list.py
  tests/unit/topology/test_graph.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

ci: automate release notes (ComPWA/expertsystem#238)
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .gitignore
Due: none

ci: improve order of release notes (ComPWA/expertsystem#239)
  .github/release-drafter.yml
Due: none

ci: fix $CONTRIBUTORS in release drafter (ComPWA/expertsystem#240)
  .github/release-drafter.yml
Due: none

build: downgrade to numpy 1.18.0 (ComPWA/expertsystem#241)
  setup.cfg
Due: none

docs: add GPLv3+ badge (ComPWA/expertsystem#242)
  README.md
  doc/conf.py
  doc/contribute.rst
  doc/index.rst
  setup.cfg
Due: flake8, mypy, pydocstyle, pylint, rstcheck

refactor!: move particle combinatorics (ComPWA/expertsystem#243)
  expertsystem/amplitude/canonical_decay.py
  expertsystem/amplitude/helicity_decay.py
  expertsystem/state/particle.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_system_control.py
  tests/channels/test_jpsi_to_gamma_pi0_pi0.py
  tests/unit/amplitude/test_parity_prefactor.py
  tests/unit/amplitude/test_yaml_canonical.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

refactor!: remove QuantumState classes (ComPWA/expertsystem#244)
  examples/particles.ipynb
  expertsystem/data.py
  expertsystem/io/_pdg.py
  expertsystem/io/xml/__init__.py
  expertsystem/io/xml/_build.py
  expertsystem/io/xml/_dump.py
  expertsystem/io/yaml/_build.py
  expertsystem/io/yaml/_dump.py
  expertsystem/state/particle.py
  tests/unit/data/test_particle.py
  tests/unit/data/test_particle_collection.py
  tests/unit/data/test_states.py
  tests/unit/io/test_pdg.py
  tests/unit/io/test_xml_adapters.py
Due: flake8, mypy, pydocstyle, pylint

chore: implement some smaller fixes (ComPWA/expertsystem#246)
  expertsystem/state/particle.py
  expertsystem/topology.py
  expertsystem/ui/__init__.py
  tests/unit/topology/test_graph.py
Due: flake8, mypy, pydocstyle, pylint

ci: implement pyright and VSCode Pylance (ComPWA/expertsystem#247)
  .github/workflows/ci.yml
  .vscode/extensions.json
  .vscode/settings.json
  codecov.yml
  cspell.json
  expertsystem/data.py
  expertsystem/io/_pdg.py
  pyrightconfig.json
Due: flake8, mypy, pydocstyle, pylint

ci!: add cspell and markdownlint to tox (ComPWA/expertsystem#249)
  cspell.json
  doc/contribute.rst
  tox.ini
Due: rstcheck

refactor!: extract Topology class (ComPWA/expertsystem#248)
  .pylintrc
  expertsystem/state/particle.py
  expertsystem/topology.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_system_control.py
  tests/unit/topology/test_graph.py
  tests/unit/ui/test_system_control.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint

feat: implement Topology.verify and clean up (ComPWA/expertsystem#250)
  .pylintrc
  .vscode/settings.json
  cspell.json
  expertsystem/amplitude/canonical_decay.py
  expertsystem/amplitude/helicity_decay.py
  expertsystem/io/dot.py
  expertsystem/state/propagation.py
  expertsystem/topology.py
  expertsystem/ui/__init__.py
  tests/unit/io/test_dot.py
  tests/unit/state/test_graph_combinatorics.py
  tests/unit/test_topology.py
  tests/unit/topology/__init__.py
  tests/unit/topology/test_graph.py
  tests/unit/topology/test_simple_state_builder.py
Due: flake8, mypy, pydocstyle, pylint

refactor!: improve graph combinatorics (ComPWA/expertsystem#245)
  expertsystem/state/particle.py
  expertsystem/ui/__init__.py
  tests/unit/state/test_graph_combinatorics.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

refactor!: change conservation rule interface (ComPWA/expertsystem#253)
  .pylintrc
  cspell.json
  doc/conf.py
  expertsystem/data.py
  expertsystem/state/conservation_rules.py
  expertsystem/state/particle.py
  expertsystem/state/propagation.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_default_settings.py
  setup.cfg
  tests/channels/test_nbody_reactions.py
  tests/unit/state/conservation_rules/test_additive_qn.py
  tests/unit/state/conservation_rules/test_c_parity.py
  tests/unit/state/conservation_rules/test_g_parity.py
  tests/unit/state/conservation_rules/test_mass.py
  tests/unit/state/conservation_rules/test_spin.py
Due: flake8, mypy, pydocstyle, pylint

style: upgrade and apply black and prettier (ComPWA/expertsystem#252)
  .pre-commit-config.yaml
  doc/_templates/genindex.html
  expertsystem/amplitude/helicity_decay.py
  expertsystem/io/xml/_build.py
  expertsystem/io/xml/_dump.py
  expertsystem/io/yaml/validation.py
  expertsystem/state/conservation_rules.py
  expertsystem/state/particle.py
  expertsystem/state/propagation.py
  expertsystem/ui/__init__.py
  expertsystem/ui/_default_settings.py
  expertsystem/ui/_system_control.py
  setup.cfg
  tests/channels/test_nbody_reactions.py
  tests/unit/amplitude/test_yaml_helicity.py
  tests/unit/data/test_particle.py
  tests/unit/data/test_states.py
  tests/unit/io/test_dot.py
  tests/unit/state/conservation_rules/test_additive_qn.py
  tests/unit/state/conservation_rules/test_g_parity.py
  tests/unit/state/conservation_rules/test_ls_coupling.py
  tests/unit/state/test_graph_combinatorics.py
  tests/unit/ui/test_system_control.py
Due: flake8, mypy, pydocstyle, pylint

docs!: switch to Sphinx Book theme (ComPWA/expertsystem#251)
  README.md
  doc/adr/0000-use-markdown-architectural-decision-records.md
  doc/conf.py
  doc/contribute.rst
  doc/index.rst
  examples/particles.ipynb
  examples/quickstart.ipynb
  examples/visualization.ipynb
  setup.cfg
Due: flake8, mypy, pydocstyle, pylint, rstcheck

feat: implement ParticleCollection.filter (ComPWA/expertsystem#260)
  .github/workflows/ci.yml
  cspell.json
  doc/conf.py
  examples/particles.ipynb
  expertsystem/data.py
  expertsystem/state/particle.py
  setup.cfg
  tests/unit/data/test_particle.py
  tests/unit/data/test_particle_collection.py
  tests/unit/io/test_particle_list.py
  tests/unit/io/test_pdg.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint

feat: add Particle.is_lepton method (ComPWA/expertsystem#261)
  .vscode/settings.json
  doc/contribute.rst
  examples/particles.ipynb
  expertsystem/data.py
  tests/unit/data/__init__.py
  tests/unit/data/test_particle.py
  tests/unit/data/test_particle_collection.py
  tests/unit/data/test_states.py
  tests/unit/test_data.py
  tests/unit/test_topology.py
  tox.ini
Due: flake8, mypy, pydocstyle, pylint, rstcheck
